{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-md-center">
  <div class="col-md-10 col-sm-12">
		{% include 'theme-chooser.html' %}
		<h1 class="mb-4">{{ page.title }}</h1>
		<div class="row mb-5">
			<div class="col">
	
				<ul class="nav nav-pills nav-fill bg-subtle rounded">
					<li class="nav-item">
						<a href="{{ url_for('shop.index') }}" class="nav-link {% if not category %}active{% endif %}">
							All
						</a>
					</li>
					{% for loop_category in categories %}
						<li class="nav-item">
							<a href="{{ url_for('shop.index') }}?category={{ loop_category.name }}" class="nav-link {% if category.name == loop_category.name %}active{% endif %}">
								<i class="{{ loop_category.icon }}"></i>
								{{ loop_category.name.title() }}
							</a>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
		<div class="row justify-content-center">

			{% for product in products.items %}
          <div class="col-md-4 col-sm-6 col">
            {{ product.unghosted().card()|safe }}
          </div>
			{% endfor %}

		</div> 

    {% if products.pages > 1 %}
      <nav class="mt-5">
        <ul class="pagination justify-content-center">
          {% if pagination > 1 %}
            <li class="page-item">
              <a class="page-link" href="{{ url_for('shop.index') }}?category={{ category }}&page={{ products.prev_num }}">
                <span aria-hidden="true">&laquo; Prev</span>
              </a>
            </li>
          {% endif %}
          {% for p in products.iter_pages() %}
            <li class="page-item {% if p == products.page %}active{% endif %}">
              <a class="page-link" href="{{ url_for('shop.index') }}?category={{ category }}&page={{ p }}">
                {{ p }}
              </a>
            </li>
          {% endfor %}
          {% if pagination < products.pages %}
            <li class="page-item">
              <a class="page-link" href="{{ url_for('shop.index') }}?category={{ category }}&page={{ products.next_num }}">
                <span aria-hidden="true">Next &raquo;</span>
              </a>
            </li>
          {% endif %}
        </ul>
      </nav>
    {% endif %}

  </div>
</div>
{% endblock %}
