{% extends 'base.html' %}
{% block content %}

<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="{{ url_for('shop.index') }}">Shop</a></li>
		<li class="breadcrumb-item active" aria-current="page">{{ product.name }}</li>
	</ol>
</nav>

{% include 'theme-chooser.html' %}
<br />
<br />
<div class="row">
	<div class="col-md-6 col-12">
		<div class="relative text-center product-image-div">
			{% if product.links %}	
				<a href="{{ product.links[0].url }}" target="_blank">
			{% endif %}
					<img src="{{ product.image }}" class="img-fluid product-image" />
					{% if product.on_sale %}
						<img src="{{ url_for('static', filename='images/sale-ribbon.png') }}" class="sale-banner sale-banner-lg" />
					{% endif %}
			</a>
		</div>
	</div>
	<div class="col">
		<h1>{{ product.name }}</h1>
		{% if product.linked_page %}
			<small class="text-muted">
				(Product for: 
				<i>
					<a href="{{ product.linked_page.path }}">
						{{ product.linked_page.title }}
					</a>
				</i>)
			</small>
		{% endif %}

		<p class="mb-5">{{ product.description }}</p>
		<center>
		Starting at
		{% if product.on_sale and product.sale_price %}
			<h2 class="mb-5">
				<span class="sale-strike">{{ product.price }}</span>
				<b class="text-danger">{{ product.sale_price }}</b>
			</h2>
		{% else %}
			<h2 class="mb-5">{{ product.price }}</h2>
		{% endif %}


		{% if product.download_path %}
			{% if product.simple_price() == '000' %}
				<a href="{{ url_for('shop.subscribe', obj_id=product.id) }}" class="btn btn-primary btn-lg" >
					<i class="fas fa-download"></i> Download the eBook
				</a>
				<br />
				<p class="text-muted">
				 OR<br />
				 buy it from the marketplaces below:
				</p>
			{% else %}
				<a href="{{ url_for('shop.buy', slug=product.slug) }}" class="btn btn-primary btn-lg" >
					<i class="fas fa-credit-card"></i> Buy the eBook here
				</a>
				<br />
				<p class="text-muted">
				 OR<br />
				 from any of the marketplaces below:
				</p>
			{% endif %}
		{% endif %}


		{% if product.links %}	
			{% if not product.download_path %}
				<a href="{{ product.links[0].url }}" class="btn btn-primary btn-lg mb-3" target="_blank">
					<i class="{{ product.links[0].icon }}"></i>
					{{ product.links[0].text }}
				</a>
			{% endif %}
		</center>
	
			{% if product.links|length > 1 %}
			

				<ul class="nav nav-tabs nav-fill mb-3">
					{% for format in product.grouped_links() %}
						<li class="nav-item">
							<button class="btn btn-link btn-block nav-link toggle-tab {% if loop.index == 1 %}active{% endif %}" data-target="#{{ format[0].format if format[0].format else 'morelinks' }}">
								{% if format[0].format %}
									{{ format[0].format }}
								{% else %}
									More Links
								{% endif %}
							</a>
						</li>
					{% endfor %}
				</ul>


				{% for format in product.grouped_links() %}
					<div id="{{ format[0].format if format[0].format else 'morelinks' }}" {% if loop.index != 1 %}style="display:none"{% endif %}>
						{% for link in format %}
							&nbsp;&nbsp;&nbsp;&nbsp;
							<i class="{{ link.icon }}"></i>
							<a href="{{ link.url }}" target="_blank">{{ link.text_simple() }}</a><br />
						{% endfor %}
					</div>
				{% endfor %}


			{% endif %}
		{% else %}
			<button type="button" class="btn btn-secondary btn-lg disabled" disabled>
				<i class="fas fa-seedling"></i> Coming Soon!
			</button>
			</center>
		{% endif %}
	</div>
</div>

<br />

<hr class="mb-4" />

<h3 class="mb-4">Related Products</h3>

<div class="row">
	{% for r_product in related %}
		<div class="col-md-3 col">
			{{ r_product.card(hide=['description'])|safe }}
		</div>
	{% endfor %}
</div>

<h3 class="mt-4 text-center">Find more in the <a href="{{ url_for('shop.index') }}"><i class="fas fa-shopping-cart"></i> Shop</a></h3>

{% endblock %}
