		<style>
      @font-face {
        font-family: "Open Sans";
        src: url(../fonts/OpenSans-Regular.ttf);
      }
      @font-face {
        font-family: "Montserrat";
        src: url(../fonts/Montserrat-Regular.ttf);
      }
      @font-face {
        font-family: "Montserrat SemiBold";
        src: url(../fonts/Montserrat-SemiBold.ttf);
      }
			#topNavbar {
				-moz-box-shadow:    3px 3px 25px 1px #222;
				-webkit-box-shadow: 3px 3px 25px 1px #222;
				box-shadow:         3px 3px 25px 1px #222;
				z-index: 4;
				transition: top 0.3s;
			}
			nav#topNavbar a.nav-link:link, nav#topNavbar a.nav-link:visited, nav#topNavbar a.nav-link:active {
				color: #fff;
				text-decoration: none;
				text-transform: uppercase;
			}
			nav div.dropdown-menu a.dropdown-item {
				color: #222;
				text-transform: initial;
			}
			a.site-title {
				padding-top: 3px;
				padding-bottom: 2px;
				line-height: 20px;
				color: #fff;
			}
			.small {
				font-size: 14px;
				text-transform: none;
			}
			.dev-banner {
				background-color: rgba(200,0,0,0.6);
				color: #fff;
				margin: 0;
				padding: 0;
				width: 100%;
				position: fixed;
				top: 0px;
				height: 20px;
				z-index: 10;
			}
			div.jumbotron {
				background-position: center center;
				background-color: #444;
				padding-top: 89px;
        height: 450px;
				z-index: 1;
			}
			body {
        background-color: #fff;
        color: #222222;
				font-size: 17.5px;
        font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
        //padding-top: 68px;
			}
      h1, h2, h3, h4 {
        font-family: "Montserrat SemiBold", "Arial Black", Arial, sans-serif;
        text-transform: uppercase;
      }
			progress {
				position: fixed;
				top: 0;
				left: 0;
				width: 100% !important;
				height: 5px;
				border: none;
				-webkit-appearance: none;
				-moz-appearance: none;
				appearance: none;
				background-color: transparent;
				color: #48a3f2;
				z-index: 6;
			}
			progress::-webkit-progress-bar {
				background-color: transparent;
			}
			progress::-webkit-progress-value {
				background-color: #48a3f2;
			}
			progress::-moz-progress-bar {
				background-color: #48a3f2;
			}
			div.jumbotron {
				margin-bottom: 0;
        position: relative;
        z-index: -10;
			}
			div.jumbotron h1 {
				display: inline;
				color: #ffffff;
        text-shadow: 0 0 30px #000000;
				font-size: 300%;
/*
				background: rgba(0, 0, 0, .4);
*/
				padding: 10px;
        font-family: "Montserrat SemiBold", "Arial Black", Arial, sans-serif;
				border-radius: 5px;
        text-transform: uppercase;
			}
      #banner-video {
        width: 100vw;
        height: 100%;
        object-fit: cover;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: -10 !important;
      }
			section.content-wrapper {
        background-color: #ffffff;
        color: #222222;
				padding: 25px;
				/*margin-top: -50px;
				margin-bottom: 50px;
				-moz-box-shadow:    0 30px 50px 0 rgba(1,1,1,.15);
				-webkit-box-shadow: 0 30px 50px 0 rgba(1,1,1,.15);
				box-shadow: 0 30px 50px 0 rgba(1,1,1,.15);
        z-index: 30 !important;
        */
			}
      .content-wrapper h1 {
        font-size: 250%;
      }
      .content-wrapper h2 {
        font-size: 175%;
      }
      .content-wrapper h3 {
        font-size: 125%;
      }
      .content-wrapper h4 {
        font-size: 100%;
      }
      #theme-select {
        margin: 0 0 0 10px;
      }
      #theme-select a {
        text-decoration: none;
      }
      #theme-select a img {
        margin-left: 5px;
        border-radius: 100px;
        -moz-box-shadow:    3px 3px 3px 1px rgba(0,0,0, .2);
        -webkit-box-shadow: 3px 3px 3px 1px rgba(0,0,0, .2);
        box-shadow:         3px 3px 3px 1px rgba(0,0,0, .2);
        cursor: pointer;
        width: 24px;
        height: 24px;
     }
      #light-theme img {
        background-color: #ffffff;
        border: 2px solid #999999;
      }
      #dark-theme img {
        background-color: #222222;
        border: 2px solid #eeeeee;
      }
      div.content p {
          line-height: 1.6em;
          margin-bottom: 1.25em;
      }
      @media only screen and (max-width: 400px) {
        section.content-wrapper {
          font-size: 80%;
        }
        div.content p {
          line-height: 20px;
        }
      }
			div.share-btns img {
				width: 32px;
				border: 0;
			}
			div.share-btns a {
				text-decoration: none;
			}
      ol.breadcrumb {
        /*<?=theme('breadcrumb');?>*/
      }
      ul.pager li a {
        /*<?=theme('pager');?>*/
        line-height: 17px;
      }
			footer {
        background-color: #eee;
        width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
        margin: 0;
			}
			footer div {
				margin: 25px auto 50px auto;
        max-width: 600px;
        background-color: #eee;
			}
      footer a {
        color: #555555;
      }
      .panel {
        background-color: transparent;
      }
      #searchtoggle {
        margin: 10px;
      }
      #sub-btn {
        position: fixed;
        bottom: 15px;
        right: 20px;
        -webkit-box-shadow: 3px 3px 10px 1px rgba(0,0,0, .5);
        box-shadow:         3px 3px 10px 1px rgba(0,0,0, .5);
        z-index: 2;
				transition: bottom 0.3s;
      }
      #sub-btn-close {
        position: fixed;
        bottom: 55px;
        right: 20px;
        z-index: 2;
      }
			#scroll-top {
				background-color: rgba(125,125,125,0.3);
				position: fixed;
				text-align: center;
				border: 1px solid rgba(75,75,75,0.5);
				color: #222;
				bottom: 70px;
				right: -80px;
        -webkit-box-shadow: 3px 3px 10px 1px rgba(0,0,0, .3);
        box-shadow:         3px 3px 10px 1px rgba(0,0,0, .3);
        z-index: 3;
				transition: right 0.3s;
			}
      .spacer {
        height: 100px;
      }
      .modal-dialog, .modal-content {
        border-radius: 0;
      }
			.dropdown-submenu {
				position: relative;
			}

			.dropdown-submenu>.dropdown-menu {
					top: 0;
					left: 100%;
					margin-top: -6px;
					margin-left: -1px;
					-webkit-border-radius: 0 6px 6px 6px;
					-moz-border-radius: 0 6px 6px;
					border-radius: 0 6px 6px 6px;
			}

			.dropdown-submenu:hover>.dropdown-menu {
					display: block;
			}

			.dropdown-submenu>a:after {
					display: block;
					content: " ";
					float: right;
					width: 0;
					height: 0;
					border-color: transparent;
					border-style: solid;
					border-width: 5px 0 5px 5px;
					border-left-color: #ccc;
					margin-top: 5px;
					margin-right: -10px;
			}

			.dropdown-submenu:hover>a:after {
					border-left-color: #fff;
			}

			.dropdown-submenu.pull-left {
					float: none;
			}

			.dropdown-submenu.pull-left>.dropdown-menu {
					left: -100%;
					margin-left: 10px;
					-webkit-border-radius: 6px 0 6px 6px;
					-moz-border-radius: 6px 0 6px 6px;
					border-radius: 6px 0 6px 6px;
			}
      .required-label::after {
        content: "*";
        color: #f00;
      }
			blockquote::before {
				content: 'â';
				position: absolute;
				font-size: 90px;
				color: #48a3f2;
				z-index: 0;
				top: -40px;
				left: -35px;
			}
			blockquote {
				position: relative;
				margin-left: 30px;
				margin-right: 30px;
				/*border-left: solid 3px #eee;
				font-size: 19px !important;*/
				padding-top: 10px;
				padding-bottom: 1px;
				padding-left: 15px;
				padding-right: 15px;
				font-style: italic;
				background-color: rgba(125,125,125,0.06);
				border-radius: 5px;
			}
			blockquote p {
				position: relative;
				z-index: 1;
			}
			.bg-subtle {
				background-color: rgba(125,125,125,0.06);
			}
			.author-note {
				border: 1px solid #eee;
				padding-top: 15px;
				padding-bottom: 1px;
				padding-left: 15px;
				padding-right: 15px;
				background-color: rgba(125,125,125,0.06);
				border-radius: 5px;

			}
			.product-card-wrapper {
				overflow: hidden;
				width: 100%;
				height: 200px;
				position:relative;
			}
			.product-card-image {
				height:100%;
				width:100%;
				background-size: contain;
				background-repeat:no-repeat;
				background-position:center center;
				background-color: rgba(230,230,230,0.3);
				transition: transform 0.5s ease;
				-moz-transition: transform 0.5s ease;
				-ms-transition: transform 0.5s ease;
				-o-transition: transform 0.5s ease;
				-webkit-transition: transform 0.5s ease;
			}
			.product-card-image:hover {
				transform: scale(1.2);
			}
			.sale-banner {
				position: absolute;
				bottom: 0px;
				right: 0px;
				max-width: 125px;
				z-index: 2;
			}
			.sale-banner-lg {
				max-width: 175px;
			}
			.sale-strike {
				text-decoration: line-through red;
			}
			.relative {
				position: relative;
			}
			.product-image {
				max-height: 400px;
			}
			.product-image-div {
				background-color: rgba(230,230,230,0.3);
			}
      .scroll-div-150 {
        overflow: auto;
        max-height: 150px;
      }
      .card-banner {
        height: 100px;
        width: 100%;
        background-size: cover;
        background-repeat: none;
        background-position: center center;
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 0;
      }
      .card-banner-overlay {
        background-color: rgba(0,0,0,.2);
        width: 100%;
        height: 100%;
        margin: 0;
        position: absolute;
        top: 0;
        left: 0;
        padding-left: 25px;
        padding-right: 25px;
      }
      .card-banner-overlay h2,
      .card-banner-overlay h3 {
        line-height: 100px;
      }
      .card-banner-overlay a {
        color: #fff;
        text-decoration: none;
      }
      .card-banner-overlay a:hover{
        text-decoration: underline;
      }
      .text-outline {
        text-shadow: 0 0 5px #000000;
      }
      .text-shadow {
        text-shadow: 0 0 30px #000000;
      }
      .page-card-cover {
        max-width: 150px;
        margin: 0 20px 10px 5px;
        position: relative;
        z-index: 2;
      }
      .position-relative {
        position: relative;
      }
      .mt-100 {
        margin-top: 100px;
      }
      input[type='checkbox'].form-control {
        width: 20px;
        display: inline;
        height: 20px;
        margin-top: 13px;
      }
      .captcha {
        padding: 15px;
        border: #ccc 1px solid;
        background: #fafafa;
        margin-bottom: 20px;
        display: inline-block;
      }
      .captcha-text {
        display: inline-block;
        margin-right: 20px;
        vertical-align: middle;
        line-height: 50px;
        color: #000;
        font-size: 16pt;
      }
      .captcha-box {
        height: 50px;
        width: 50px;
        cursor: pointer;
        border: #666 1px solid;
        background: #fff;
        display: inline-block;
        float: right;
        font-size: 48pt;
        line-height: 50px;
        color: #007bff; 
      }
      .captcha-spinner {
        font-size: 30pt;
        position: relative;
        top: -10px;
        left: 3px;
        color: #ccc;
      }
      .grecaptcha-badge {
        display: none !important;
      }
      .cursor-pointer {
        cursor: pointer;
      }
      .subscribe-banner {
        position: fixed;
        bottom: 0px;
        background: rgba(20,20,20,0.95);
        width: 100%;
        height: 100px;
        z-index: 99;
      }
      .subscribe-banner .container {
        padding: 30px;
        color: #fff;
      }
      @media only screen and (max-width: 400px) {
        .subscribe-banner {
          height: 200px;
        }

      }

    /* 3D Hover Book Cover START */
    .book-container {
      display: flex;
      align-items: center;
      justify-content: center;
      perspective: 600px;
      width: 175px;
      margin: 10px 10px 10px 0px;
      float: left;
    }

    @keyframes initAnimation {
      0% {
        transform: rotateY(0deg);
      }
      100% {
        transform: rotateY(-30deg);
      }
    }

    .book-container .book {
      width: 150px;
      height: 245px;
      position: relative;
      transform-style: preserve-3d;
      transform: rotateY(-30deg);
      transition: transform 1s ease;
      animation: 1s ease 0s 1 initAnimation-;
    }

    .book-container .book:hover {
      transform: rotateY(0deg);
    }

    .book-container .book > :first-child {
      position: absolute;
      top: 0;
      left: 0;
      width: 150px;
      height: 245px;
      transform: translateZ(25px);
      background-color: #01060f;
      border-radius: 0 2px 2px 0;
      box-shadow: 5px 5px 20px rgba(128,128,128,0.6);
      background-color: #01060f;
    }

    /* BOOK PAGES */
    .book-container .book::before {
      position: absolute;
      content: ' ';
      left: 0;
      top: 3px;
      width: 48px;
      height: 240px;
      transform: translateX(120px) rotateY(90deg);
      background: linear-gradient(90deg,
        #fff 0%,
        #f9f9f9 5%,
        #fff 10%,
        #f9f9f9 15%,
        #fff 20%,
        #f9f9f9 25%,
        #fff 30%,
        #f9f9f9 35%,
        #fff 40%,
        #f9f9f9 45%,
        #fff 50%,
        #f9f9f9 55%,
        #fff 60%,
        #f9f9f9 65%,
        #fff 70%,
        #f9f9f9 75%,
        #fff 80%,
        #f9f9f9 85%,
        #fff 90%,
        #f9f9f9 95%,
        #fff 100%
        );
    }

    /* BOOK BACK */
    .book-container .book::after {
      position: absolute;
      top: 0;
      left: 0;
      content: ' ';
      width: 150px;
      height: 245px;
      transform: translateZ(-25px);
      background-color: #01060f;
      border-radius: 0 2px 2px 0;
      box-shadow: -10px 0 50px 10px rgba(128,128,128,0.6);
    }
		</style>
