		<style>
      @font-face {
        font-family: "Open Sans";
        src: url(../fonts/OpenSans-Regular.ttf);
      }
      @font-face {
        font-family: "Montserrat";
        src: url(../fonts/Montserrat-Regular.ttf);
      }
      @font-face {
        font-family: "Montserrat SemiBold";
        src: url(../fonts/Montserrat-SemiBold.ttf);
      }
      @font-face {
        font-family: "Yesteryear";
        src: url(../fonts/Yesteryear-Regular.ttf);
      }
			header {
				background-color: #0b5394; /*let user set*/
				position: fixed;
        top: 0;
				width: 100%;
				-moz-box-shadow:    3px 3px 25px 1px #222;
				-webkit-box-shadow: 3px 3px 25px 1px #222;
				box-shadow:         3px 3px 25px 1px #222;
				z-index: 4;
				height: 68px;
			}
			header a:link, header a:visited, header a:active {
				color: #ffffff;
				text-decoration: none;
				text-transform: uppercase;
			}
			div.site-title {
				padding-top: 3px;
				padding-bottom: 2px;
				line-height: 20px;
			}
			div.site-title a h2 {
				margin: 0;
        font-family: "Yesteryear", cursive;
				text-transform: none;
        font-weight: normal;
        font-size: 1.7em;
			}
			.small {
				font-size: 14px;
				text-transform: none;
			}
			nav.navlinks i.nav-menu {
				font-size: 35px;
				line-height: 68px;
				color: #ffffff;
				cursor: pointer;
			}
			ul.navlinks {
				list-style: none;
				position: relative;
				float: right;
			}
			ul.navlinks a {
				display: block;
        font-family: "Montserrat", Arial, sans-serif;
				line-height: 68px;
			}
			ul.navlinks li {
				margin-left: 10px;
				position: relative;
				float: left;
				padding: 0 5px;
			}
			ul.navlinks li:hover {
				background-color: rgba(256,256,256, .06);
			}
			ul.navlinks li .navdrop {
				display: none;
				line-height: initial;
				position: absolute;
				float: left;
				left: 0;
				background-color: #222;
				-moz-box-shadow:    3px 3px 25px 1px #222;
				-webkit-box-shadow: 3px 3px 25px 1px #222;
				box-shadow:         3px 3px 25px 1px #222;
				padding: 0;
				min-width: 150px;
        max-height: calc(100%-68px);
        overflow-y: auto;
			}
			ul.navlinks li:hover .navdrop {
				display: block;
			}
      .navdrop ul, .navdrop ul li {
        margin: 0;
        padding: 0;
        float: none;
        list-style: none;
      }
			.navdrop ul a {
				display: block;
				width: 100%;
        margin: 0px;
				text-align: left;
				padding: 0 7px 0 7px;
				text-transform: none;
        font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
				line-height: 35px;
        white-space: nowrap;
      }
			.navdrop ul ul {
				display: none;
			}
      .navdrop ul ul a {
        padding-left: 20px;
        border-top: 1px solid #000;
        border-bottom: 1px solid #444;
        background-color: rgba(0, 0, 0, 0.25);
      }
      .navdrop a i.glyphicon {
        padding: 7px;
      }
      #toggle-nav {
				background-color: #222222;
				min-width: 250px;
				position: fixed;
				top: 0;
				right: 0;
				height: 100vh;
				padding-top: 68px;
				z-index: 3;
				overflow-y: auto;
				overflow-x: hidden;
				white-space: nowrap;
				border-left: 1px solid #444;
				border-right: 1px solid #000;
				display: none;
			}
			#toggle-nav ul {
				list-style: none;
				padding: 0;
			}
			#toggle-nav li {
				color: #ffffff;
				line-height: 50px;
				margin: 0;
			}
			#toggle-nav a {
				display: block;
				padding: 0 10px;
				color: #dddddd;
				font-size: 14px;
        font-family: "Montserrat", Arial, sans-serif;
			}
			#toggle-nav a:hover {
				text-decoration: none;
				background-color: rgba(256,256,256, .06);
			}
			#toggle-nav a:active #toggle-nav a:visited {
				text-decoration: none;
			}
			#toggle-nav ul ul, #toggle-nav ul ul ul {
				display: none;
        border-top: 1px solid #000;
        border-bottom: 1px solid #444;
        background-color: rgba(0, 0, 0, 0.25);
			}
      #toggle-nav a i.glyphicon {
        padding: 20px 20px 20px 5px;
      }
			div.jumbotron {
        background-image: url("../images/forest.png");
				background-color: #ffffff;
				background-repeat: no-repeat;
				background-position: center center;
        /*background-attachment: fixed;*/
				background-size: cover;
				padding-top: 89px;
        height: 450px;
				z-index: 1;
			}
			body {
        background-color: #eeeeee;
        color: #222222;
				font-size: 17.5px;
        font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
        padding-top: 68px;
			}
      h1, h2, h3, h4 {
        font-family: "Montserrat SemiBold", "Arial Black", Arial, sans-serif;
        text-transform: uppercase;
      }
			progress {
				position: fixed;
				top: 0;
				left: 0;
				width: 100% !important;
				height: 5px;
				border: none;
				-webkit-appearance: none;
				-moz-appearance: none;
				appearance: none;
				background-color: transparent;
				color: #be82ff;
				z-index: 6;
			}
			progress::-webkit-progress-bar {
				background-color: transparent;
			}
			progress::-webkit-progress-value {
				background-color: #be82ff;
			}
			progress::-moz-progress-bar {
				background-color: #be82ff;
			}
			div.jumbotron {
				margin-bottom: 0;
			}
			div.jumbotron h1 {
				display: inline;
				color: #ffffff;
        text-shadow: 0 0 30px #000000;
				font-size: 300%;
/*
				background: rgba(0, 0, 0, .4);
*/
				padding: 10px;
        font-family: "Montserrat SemiBold", "Arial Black", Arial, sans-serif;
				border-radius: 5px;
        text-transform: uppercase;
			}
			section.content-wrapper {
        background-color: #ffffff;
        color: #222222;
				padding: 25px;
				margin-top: -50px;
				margin-bottom: 50px;
				-moz-box-shadow:    0 30px 50px 0 rgba(1,1,1,.15);
				-webkit-box-shadow: 0 30px 50px 0 rgba(1,1,1,.15);
				box-shadow: 0 30px 50px 0 rgba(1,1,1,.15);
        z-index: 3;
			}
      .content-wrapper h1 {
        font-size: 250%;
      }
      .content-wrapper h2 {
        font-size: 175%;
      }
      .content-wrapper h3 {
        font-size: 125%;
      }
      .content-wrapper h4 {
        font-size: 100%;
      }
      #theme-select {
        margin: 0 0 0 10px;
      }
      #theme-select a {
        text-decoration: none;
      }
      #theme-select a img {
        margin-left: 5px;
        border-radius: 100px;
        -moz-box-shadow:    3px 3px 3px 1px rgba(0,0,0, .2);
        -webkit-box-shadow: 3px 3px 3px 1px rgba(0,0,0, .2);
        box-shadow:         3px 3px 3px 1px rgba(0,0,0, .2);
        cursor: pointer;
        width: 24px;
        height: 24px;
     }
      #light-theme img {
        background-color: #ffffff;
        border: 2px solid #999999;
      }
      #dark-theme img {
        background-color: #222222;
        border: 2px solid #eeeeee;
      }
      div.content p {
          line-height: 1.6em;
          margin-bottom: 1.25em;
      }
      @media only screen and (max-width: 400px) {
        section.content-wrapper {
          font-size: 80%;
        }
        div.content p {
          line-height: 20px;
        }
      }
			div.share-btns img {
				width: 32px;
				border: 0;
			}
			div.share-btns a {
				text-decoration: none;
			}
      ol.breadcrumb {
        /*<?=theme('breadcrumb');?>*/
      }
      ul.pager li a {
        /*<?=theme('pager');?>*/
        line-height: 17px;
      }
			footer {
				margin: 10px auto 50px auto;
        max-width: 600px;
			}
      footer a {
        color: #555555;
      }
      .panel {
        background-color: transparent;
      }
      #searchtoggle {
        margin: 10px;
      }
      #sub-btn {
        position: fixed;
        bottom: 15px;
        right: 20px;
        -webkit-box-shadow: 3px 3px 10px 1px rgba(0,0,0, .5);
        box-shadow:         3px 3px 10px 1px rgba(0,0,0, .5);
        z-index: 2;
      }
      #sub-btn-close {
        position: fixed;
        bottom: 55px;
        right: 20px;
        z-index: 2;
      }
      .spacer {
        height: 100px;
      }
      .modal-dialog, .modal-content {
        border-radius: 0;
      }
		</style>
