{% extends 'email/base.html' %}
{% block content %}


<h1>
  {% if reply %}
    Comment Reply
  {% else %}
    New Comment
  {% endif %}
</h1>

<p>
  {% if reply %}
  The following reply was made to your comment on the {{ obj.__class__.__name__ }} <b>{{ obj_name }}</b>. 
  {% else %}
    The following comment was made  on the {{ obj.__class__.__name__ }} <b>{{ obj_name }}</b>. 
  {% endif %}
</p>

<center>
	<table cellpadding='0' cellspacing="0" style="box-shadow: 0 7px 7px 0 rgba(1,1,1,.15);padding:20px; width:500px;border:1px solid #eeeeee;margin:20px;border-radius:10px;">
		<tr>
			<td>
				<h4>{{ comment.author() }} <span style='color:#777777;'>said:</span></h4>
				<p>
					{{ comment.html_body()|safe }}
				</p>
			</td>
		</tr>
	</table>
</center>

<p>
  <a href="{{ obj_link }}">
    Read more...
  </a>
</p>

{% endblock %}
