{% extends 'base.html' %}
{% block content %}

{% include 'admin/nav.html' %}

<a href="{{ url_for('admin.add_definition') }}" class="btn btn-primary float-right">
	<i class="fas fa-plus"></i> Add Definition
</a>

<h2>Definitions</h2>

<table class="table table-sm table-striped table-hover datatable">
	<thead>
		<tr>
			<th>Name</th>
			<th>Parent</th>
			<th>Type</th>
			<th width="100">Mentions</th>
		</tr>
	</thead>
	<tbody>
		{% for definition in definitions %}
			<tr>
				<td>
					<a href="{{ url_for('admin.edit_definition', definition_id=definition.id) }}">
						<i class="fas fa-edit"></i>
					</a>
					{{ definition.name }}
				</td>
				<td>
					{{ definition.parent }}
				</td>
				<td>
					{{ definition.type.title() }}
				</td>
				<td class="text-center">
					{% if definition.tag_id and definition.tag.pages %}
						{{ len(definition.tag.pages) }}
					{% endif %}
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock %}
