{% extends 'base.html' %}
{% block content %}
{% include 'admin/nav.html' %}

<h2>File Upload</h2>

<form action="" method="POST" enctype="multipart/form-data">
	{{ form.hidden_tag() }}
	{% include 'form-fields.html' %}

	<div class="text-right">
		<a href="{{ url_for('admin.files', folder=folder) }}" class="btn btn-secondary">
			<i class="fas fa-ban"></i>
			Cancel
		</a>
		<button type="submit" class="btn btn-primary">
			<i class="fas fa-upload"></i>
			Upload File
		</button>
	</div>
</form>

{% endblock %}
