<h1 class="mb-4"><i class="fas fa-hat-wizard"></i> Admin Panel</h1>
<ul class="nav nav-pills mb-4">
	<li class="nav-item">
		<a href="{{ url_for('admin.pages') }}" class="nav-link {% if tab == 'pages' %}active{% endif %}" data-toggle='tooltip' title='Pages'>
			<i class="fas fa-file-alt"></i><span class="d-none d-sm-none d-md-inline"> Pages</span>
		</a>
	</li>
	<li class="nav-item">
		<a href="{{ url_for('admin.users') }}" class="nav-link {% if tab == 'users' %}active{% endif %}" data-toggle='tooltip' title='Users'>
			<i class="fas fa-users"></i><span class="d-none d-sm-none d-md-inline"> Users</span>
		</a>
	</li>
	<li class="nav-item">
		<a href="{{ url_for('admin.definitions') }}" class="nav-link {% if tab == 'definitions' %}active{% endif %}" data-toggle='tooltip' title='Definitions'>
			<i class="fas fa-atlas"></i><span class="d-none d-sm-none d-md-inline"> Definitions</span>
		</a>
	</li>
	<li class="nav-item">
		<a href="{{ url_for('admin.tags') }}" class="nav-link {% if tab == 'tags' %}active{% endif %}" data-toggle='tooltip' title='Tags'>
			<i class="fas fa-tags"></i><span class="d-none d-sm-none d-md-inline"> Tags</span>
		</a>
	</li>
	<li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"><i class="fas fa-shopping-bag"></i> Shop</a>
		<div class="dropdown-menu">
			<a href="{{ url_for('admin.products') }}?path={{ request.path }}" class="dropdown-item">
				<i class="fas fa-tshirt"></i> Products
			</a>
			<a href="{{ url_for('admin.links') }}" class="dropdown-item">
				<i class="fas fa-link"></i> Links
			</a>
		</div>
	</li>
	<li class="nav-item">
		<a href="{{ url_for('admin.subscribers') }}" class="nav-link {% if tab == 'subscribers' %}active{% endif %}" data-toggle='tooltip' title='Subscribers ({{ current_user.total_subscribers() }})'>
			<i class="fas fa-envelope"></i><span class="d-none d-sm-none d-md-inline"> Subscribers</span>
			{% if current_user.is_authenticated %}
			<small><span class="badge badge-secondary">{{ current_user.total_subscribers() }}</span></small>
			{% endif %}
		</a>
	</li>
	<li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"><i class="fas fa-cog"></i></a>
		<div class="dropdown-menu">
			<a href="{{ url_for('page.set_theme') }}?path={{ request.path }}" class="dropdown-item">
				<i class="fas fa-fill-drip"></i> Theme
			</a>
			<a href="{{ url_for('admin.textlogs') }}" class="dropdown-item" target="textlogs">
				<i class="fas fa-receipt"></i> Text Logs
			</a>
			<a href="{{ url_for('admin.errorlogs') }}" class="dropdown-item" target="errorlogs">
				<i class="fas fa-exclamation-circle"></i> Error Logs
			</a>
			<a href="{{ url_for('admin.logs') }}" class="dropdown-item" target="logs">
				<i class="fas fa-tachometer-alt"></i> Access Data
			</a>
			<div class="dropdown-divider"></div>
			<a href="{{ url_for('auth.logout') }}" class="dropdown-item">
				<i class="fas fa-unlock"></i> Logout
			</a>
		</div>
	</li>
</ul>	

<hr />
