<h1 class="mb-4"><i class="fas fa-hat-wizard"></i> Admin Panel</h1>
<ul class="nav nav-pills mb-4">
	<li class="nav-item">
		<a class="nav-link dropdown-toggle {% if tab == 'pages' %}active{% endif %}" data-toggle="dropdown" href="#">
			<i class="fas fa-file-alt"></i><span class="d-none d-sm-none d-md-inline"> Pages</span>
		</a>
		<div class="dropdown-menu">
			<a href="{{ url_for('admin.pages') }}?path={{ request.path }}" class="dropdown-item">
				<i class="fas fa-file-alt"></i> Published
			</a>
			<a href="{{ url_for('admin.unpublished_pages') }}" class="dropdown-item">
				<i class="fas fa-eye-slash"></i> Unpublished
			</a>
			<a href="{{ url_for('admin.add_page') }}?path={{ request.path }}" class="dropdown-item">
				<i class="fas fa-plus"></i> Add Page
			</a>
		</div>
	</li>
	<li class="nav-item">
		<a href="{{ url_for('admin.users') }}" class="nav-link {% if tab == 'users' %}active{% endif %}" data-toggle='tooltip' title='Users'>
			<i class="fas fa-users"></i><span class="d-none d-sm-none d-md-inline"> Users</span>
		</a>
	</li>
	<li class="nav-item">
		<a href="{{ url_for('admin.definitions') }}" class="nav-link {% if tab == 'definitions' %}active{% endif %}" data-toggle='tooltip' title='Definitions'>
			<i class="fas fa-atlas"></i><span class="d-none d-sm-none d-md-inline"> Definitions</span>
		</a>
	</li>
	<li class="nav-item">
		<a href="{{ url_for('admin.tags') }}" class="nav-link {% if tab == 'tags' %}active{% endif %}" data-toggle='tooltip' title='Tags'>
			<i class="fas fa-tags"></i><span class="d-none d-sm-none d-md-inline"> Tags</span>
		</a>
	</li>
	<li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle {% if tab == 'shop' %}active{% endif %}" data-toggle="dropdown" href="#">
			<i class="fas fa-shopping-bag"></i><span class="d-none d-sm-none d-md-inline"> Shop</span>
		</a>
		<div class="dropdown-menu">
			<a href="{{ url_for('admin.products') }}?path={{ request.path }}" class="dropdown-item">
				<i class="fas fa-tshirt"></i> Products
			</a>
			<a href="{{ url_for('admin.links') }}" class="dropdown-item">
				<i class="fas fa-link"></i> Links
			</a>
			<a href="{{ url_for('admin.categories') }}?path={{ request.path }}" class="dropdown-item">
				<i class="fas fa-th-large"></i> Categories
			</a>
		</div>
	</li>
	<li class="nav-item">
		<a href="{{ url_for('admin.subscribers') }}" class="nav-link {% if tab == 'subscribers' %}active{% endif %}" data-toggle='tooltip' title='Subscribers ({{ current_user.total_subscribers() }})'>
			<i class="fas fa-envelope"></i><span class="d-none d-sm-none d-md-inline"> Subscribers</span>
			{% if current_user.is_authenticated %}
			<small><span class="badge badge-secondary">{{ current_user.total_subscribers() }}</span></small>
			{% endif %}
		</a>
	</li>
	<li class="nav-item">
		<a href="{{ url_for('admin.records') }}" class="nav-link {% if tab == 'records' %}active{% endif %}" data-toggle='tooltip' title='Records'>
			<i class="fas fa-chart-line"></i><span class="d-none d-sm-none d-md-inline"> Records</span>
		</a>
	</li>
	<li class="nav-item">
		<a href="{{ url_for('admin.files') }}" class="nav-link {% if tab == 'files' %}active{% endif %}" data-toggle='tooltip' title='Files'>
			<i class="fas fa-file-image"></i><span class="d-none d-sm-none d-md-inline"> Files</span>
		</a>
	</li>
	<li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"><i class="fas fa-cog"></i></a>
		<div class="dropdown-menu">
			<a href="{{ url_for('page.set_theme') }}?path={{ request.path }}" class="dropdown-item">
				<i class="fas fa-fill-drip"></i> Theme
			</a>
			<a href="{{ url_for('admin.textlogs') }}" class="dropdown-item" target="textlogs">
				<i class="fas fa-receipt"></i> Text Logs
			</a>
			<a href="{{ url_for('admin.errorlogs') }}" class="dropdown-item" target="errorlogs">
				<i class="fas fa-exclamation-circle"></i> Error Logs
			</a>
			<a href="{{ url_for('admin.logs') }}" class="dropdown-item" target="logs">
				<i class="fas fa-tachometer-alt"></i> Access Data
			</a>
			<div class="dropdown-divider"></div>
			<a href="{{ url_for('auth.logout') }}" class="dropdown-item">
				<i class="fas fa-unlock"></i> Logout
			</a>
		</div>
	</li>
</ul>	

<hr />

<!-- DELETE MODAL -->

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Delete </h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p>Are you sure you want to delete this item? This cannot be undone.</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-ban"></i> Cancel</button>
				<button type="button" class="btn btn-danger" id="confirmDelete"><i class="fas fa-times"></i> Delete</button>
			</div>
		</div>
	</div>
</div>
