{% extends 'base.html' %}
{% block content %}

{% include 'admin/nav.html' %}

{% if action == 'Edit' %}
	<div class="col-sm-3 float-right">
		<select name='versions' id='versionSelect' class="form-control">
			<option value='current'>
				Current - {{ edit_page.edit_date.strftime("%b. %-d, %Y - %-I:%M %p") }} (#{{ edit_page.word_count() }})
			</option>
			{% for ver in versions %}
				{% if version and version.id == ver.id %}
				<option value="{{ ver.id }}" selected>
				{% else %}
				<option value="{{ ver.id }}">
				{% endif %}
					{{ ver.edit_date.strftime("%b. %-d, %Y - %-I:%M %p") }} (#{{ ver.word_count() }})
				</option>
			{% endfor %}
		</select>
	</div>
{% endif %}

<h2 id="page_title">{{ action }} Page</h2>
{% if action == 'Edit' %}
<a href="{{ url_for('page.index', path=edit_page.path) }}{{ edit_page.gen_view_code() }}" target="viewpage">
		<i class="fas fa-eye"></i> View page
	</a>
{% endif %}

{% if action == 'Edit' %}
	<div class="mb-4 mt-4">
		{% if edit_page.prev_pub_sibling(False) %}
			<a href="{{ url_for('admin.edit_page', id=edit_page.prev_sibling.id) }}" class="btn btn-outline-primary">
		{% else %}
			<a href="#" class="btn btn-outline-secondary disabled" disabled>
		{% endif %}
			<i class="fas fa-caret-left"></i> 
			Previous
		</a>
		{% if edit_page.next_pub_sibling(False) %}
			<a href="{{ url_for('admin.edit_page', id=edit_page.next_sibling.id) }}" class="btn btn-outline-primary float-right">
		{% else %}
			<a href="#" class="btn btn-outline-secondary float-right disabled" disabled>
		{% endif %}
				Next
				<i class="fas fa-caret-right"></i> 
			</a>
	</div>
{% endif %}

<form class="form" method="post">
	{{ form.hidden_tag() }}
	
	<!--TITLE-->
	<div class="form-group row mt-4">
		{{ form.title.label(class="col-sm-2 control-from-label text-md-right required-label") }} 
		<div class="col-sm-8">
			{% if form.title.errors %}
				{{ form.title(class="form-control is-invalid", id="page_title_input") }}
				<div class="invalid-feedback">
					{% for error in form.title.errors %}
						{{ error }}
					{% endfor %}
				</div>
			{% else %}
				{{ form.title(class="form-control", id="page_title_input") }}
			{% endif %}
		</div>
	</div>

	<!--SLUG-->
	<div class="form-group row">
		{{ form.slug.label(class="col-sm-2 control-from-label text-md-right required-label") }} 
		<div class="col-sm-8">
			{% if form.slug.errors %}
				{{ form.slug(class="form-control is-invalid", id="page_slug_input") }}
				<div class="invalid-feedback">
					{% for error in form.slug.errors %}
						{{ error }}
					{% endfor %}
				</div>
			{% else %}
				{{ form.slug(class="form-control", id="page_slug_input") }}
			{% endif %}
		</div>
	</div>

	<!--TEMPLATE-->
	<div class="form-group row">
		{{ form.template.label(class="col-sm-2 control-from-label text-md-right required-label") }} 
		<div class="col-sm-8">
			{% if form.template.errors %}
				{{ form.template(class="form-control is-invalid") }}
				<div class="invalid-feedback">
					{% for error in form.template.errors %}
						{{ error }}
					{% endfor %}
				</div>
			{% else %}
				{{ form.template(class="form-control") }}
			{% endif %}
		</div>
	</div>

	<!--PARENT-->
	<div class="form-group row">
		{{ form.parent_id.label(class="col-sm-2 control-from-label text-md-right") }} 
		<div class="col-sm-8">
			{% if form.parent_id.errors %}
				{{ form.parent_id(class="form-control is-invalid mkSelect2") }}
				<div class="invalid-feedback">
					{% for error in form.parent_id.errors %}
						{{ error }}
					{% endfor %}
				</div>
			{% else %}
				{{ form.parent_id(class="form-control mkSelect2") }}
			{% endif %}
		</div>
	</div>

	<!--COVER-->
	<div class="form-group row">
		{{ form.cover.label(class="col-sm-2 control-from-label text-md-right") }} 
		<div class="col-sm-8">
			{% if form.cover.errors %}
				{{ form.cover(class="form-control is-invalid") }}
				<div class="invalid-feedback">
					{% for error in form.cover.errors %}
						{{ error }}
					{% endfor %}
				</div>
			{% else %}
				{{ form.cover(class="form-control") }}
			{% endif %}
		</div>
	</div>

	<!--BANNER-->
	<div class="form-group row">
		{{ form.banner.label(class="col-sm-2 control-from-label text-md-right") }} 
		<div class="col-sm-8">
			{% if form.banner.errors %}
				{{ form.banner(class="form-control is-invalid") }}
				<div class="invalid-feedback">
					{% for error in form.banner.errors %}
						{{ error }}
					{% endfor %}
				</div>
			{% else %}
				{{ form.banner(class="form-control") }}
			{% endif %}
		</div>
	</div>

	<!--BANNER_VIDEO-->
	<div class="form-group row">
		{{ form.banner_video.label(class="col-sm-2 control-from-label text-md-right") }} 
		<div class="col-sm-8">
			{% if form.banner_video.errors %}
				{{ form.banner_video(class="form-control is-invalid") }}
				<div class="invalid-feedback">
					{% for error in form.banner_video.errors %}
						{{ error }}
					{% endfor %}
				</div>
			{% else %}
				{{ form.banner_video(class="form-control") }}
			{% endif %}
		</div>
	</div>

	<!--BODY-->
	<div class="form-group row">
		{{ form.body.label(class="col-sm-2 control-from-label text-md-right required-label") }} 
		<div class="col-sm-8">
			{% if form.body.errors %}
				{{ form.body(class="form-control is-invalid", rows="10", id="page_body_input") }}
				<div class="invalid-feedback">
					{% for error in form.body.errors %}
						{{ error }}
					{% endfor %}
				</div>
			{% else %}
				{{ form.body(class="form-control", rows="10", id="page_body_input") }}
			{% endif %}
			<small id="display_count" class="form-text text-muted float-right">
				0 words
			</small>
		</div>
	</div>

	<!--NOTES-->
	<div class="form-group row">
		{{ form.notes.label(class="col-sm-2 control-from-label text-md-right") }} 
		<div class="col-sm-8">
			{% if form.notes.errors %}
				{{ form.notes(class="form-control is-invalid", rows="6", id="page_body_input") }}
				<div class="invalid-feedback">
					{% for error in form.notes.errors %}
						{{ error }}
					{% endfor %}
				</div>
			{% else %}
				{{ form.notes(class="form-control", rows="6", id="page_body_input") }}
			{% endif %}
		</div>
	</div>

	<!--AUTHOR NOTE-->
	<div class="form-group row">
		{{ form.author_note.label(class="col-sm-2 control-from-label text-md-right") }} 
		<div class="col-sm-8">
			{% if form.author_note.errors %}
				{{ form.author_note(class="form-control is-invalid") }}
				<div class="invalid-feedback">
					{% for error in form.author_note.errors %}
						{{ error }}
					{% endfor %}
				</div>
			{% else %}
				{{ form.author_note(class="form-control") }}
			{% endif %}
		</div>
	</div>

	<!--AUTHOR NOTE LOCATION-->
	<div class="form-group row">
		{{ form.author_note_location.label(class="col-sm-2 control-from-label text-md-right") }} 
		<div class="col-sm-8">
			{% if form.author_note_location.errors %}
				{{ form.author_note_location(class="form-control is-invalid") }}
				<div class="invalid-feedback">
					{% for error in form.author_note_location.errors %}
						{{ error }}
					{% endfor %}
				</div>
			{% else %}
				{{ form.author_note_location(class="form-control") }}
			{% endif %}
		</div>
	</div>

	<!--SUMMARY-->
	<div class="form-group row">
		<div class="col-sm-2"></div>
		<div class="col-sm-4">
			{{ form.summary.label(class="control-label") }} 
			{% if form.summary.errors %}
				{{ form.summary(class="form-control is-invalid") }}
				<div class="invalid-feedback">
					{% for error in form.summary.errors %}
						{{ error }}
					{% endfor %}
				</div>
			{% else %}
				{{ form.summary(class="form-control") }}
			{% endif %}
		</div>

	<!--SIDEBAR-->
		<div class="col-sm-4">
			{{ form.sidebar.label(class="control-label") }} 
			{% if form.sidebar.errors %}
				{{ form.sidebar(class="form-control is-invalid") }}
				<div class="invalid-feedback">
					{% for error in form.sidebar.errors %}
						{{ error }}
					{% endfor %}
				</div>
			{% else %}
				{{ form.sidebar(class="form-control") }}
			{% endif %}
		</div>
	</div>

	<!--TAGS-->
	<div class="form-group row">
		{{ form.tags.label(class="col-sm-2 control-from-label text-md-right") }} 
		<div class="col-sm-8">
			{% if form.tags.errors %}
				{{ form.tags(class="form-control is-invalid mkSelect2") }}
				<div class="invalid-feedback">
					{% for error in form.tags.errors %}
						{{ error }}
					{% endfor %}
				</div>
			{% else %}
				{{ form.tags(class="form-control mkSelect2") }}
			{% endif %}
			<small class="form-text float-right">
				<a href="{{ url_for('admin.add_tag') }}" target="addTag" class="text-success">
					<i class="fas fa-plus"></i> Add Tag</i>
				</a>
			</small>
		</div>
	</div>

	<!--AUTHOR-->
	<div class="form-group row">
		{{ form.user_id.label(class="col-sm-2 control-from-label text-md-right required-label") }} 
		<div class="col-sm-8">
			{% if form.user_id.errors %}
				{{ form.user_id(class="form-control is-invalid mkSelect2") }}
				<div class="invalid-feedback">
					{% for error in form.user_id.errors %}
						{{ error }}
					{% endfor %}
				</div>
			{% else %}
				{{ form.user_id(class="form-control mkSelect2") }}
			{% endif %}
		</div>
	</div>

	<!--PUBLISHED DATE-->
	<div class="form-group row">
		{{ form.pub_date.label(class="col-sm-2 control-from-label text-md-right") }} 
		<div class="col-sm-4 input-group">
			<div class="input-group-prepend">
				<span class="input-group-text">
					<i class="fas fa-calendar"></i>
				</span>
			</div>
			{% if form.pub_date.errors %}
				{{ form.pub_date(class="form-control is-invalid", type="date") }}
				<div class="invalid-feedback">
					{% for error in form.pub_date.errors %}
						{{ error }}
					{% endfor %}
				</div>
			{% else %}
				{{ form.pub_date(class="form-control", type="date") }}
			{% endif %}
		</div>
		<div class="col-sm-4 input-group">
			<div class="input-group-prepend">
				<span class="input-group-text">
					<i class="fas fa-clock"></i>
				</span>
			</div>
			{% if form.pub_time.errors %}
				{{ form.pub_time(class="form-control is-invalid", type="time") }}
				<div class="invalid-feedback">
					{% for error in form.pub_time.errors %}
						{{ error }}
					{% endfor %}
				</div>
			{% else %}
				{{ form.pub_time(class="form-control", type="time") }}
			{% endif %}
		</div>
	</div>

	<!--PUBLISHED-->
	<div class="form-group row">
		{{ form.published.label(class="col-sm-2 control-from-label text-md-right") }} 
		<div class="col-sm-1">
			{% if form.published.errors %}
				{{ form.published(class="is-invalid") }}
				<div class="invalid-feedback">
					{% for error in form.published.errors %}
						{{ error }}
					{% endfor %}
				</div>
			{% else %}
				{{ form.published() }}
			{% endif %}
		</div>

		<!--NOTIFY SUBS-->
		{{ form.notify_subs.label(class="col-sm-3 control-from-label text-md-right") }} 
		<div class="col-sm-6">
			{% if form.notify_subs.errors %}
				{{ form.notify_subs(class="is-invalid") }}
				<div class="invalid-feedback">
					{% for error in form.notify_subs.errors %}
						{{ error }}
					{% endfor %}
				</div>
			{% else %}
				{{ form.notify_subs() }}
			{% endif %}
		</div>
	</div>

	<!--NOTIFY_GROUP-->
	<div class="form-group row">
		<div class="col-sm-3"></div>
		{{ form.notify_group.label(class="col-sm-3 control-from-label text-md-right") }} 
		<div class="col-sm-4">
			{% if form.notify_group.errors %}
				{{ form.notify_group(class="form-control is-invalid") }}
				<div class="invalid-feedback">
					{% for error in form.notify_group.errors %}
						{{ error }}
					{% endfor %}
				</div>
			{% else %}
				{{ form.notify_group(class="form-control") }}
			{% endif %}
		</div>
	</div>

	<div class="row">
		<div class="col-sm-2"></div>
		<div class="col-sm-10">
			<button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Save Page</button>
			<a href="{{ url_for('admin.pages') }}" class="btn btn-secondary">Cancel</a>
		</div>
	</div>

</form>

{% endblock %}
