{% extends 'base.html' %}
{% block content %}

{% include 'admin/nav.html' %}

<a href="{{ url_for('admin.add_product') }}" class="btn btn-primary float-right">
	<i class="fas fa-plus"></i> Add Product
</a>

<h2>Products</h2>

<table class="table table-sm table-striped table-hover table-responsive-sm datatable">
	<thead>
		<tr>
			<th>Name</th>
			<th>Price</th>
			<th>Description</th>
			<th>Image</th>
			<th>Links</th>
		</tr>
	</thead>
	<tbody>
		{% for obj in products %}
			<tr {% if not obj.active %}class="table-dark"{% endif %}>
				<td>
					<a href="{{ url_for('admin.edit_product', obj_id=obj.id) }}">
						<i class="fas fa-edit"></i>
					</a>
					{{ obj.name }} 
					<a href="{{ url_for('shop.view', slug=obj.slug) }}" target="product"><i class="fas fa-link"></i></a>

          {% if obj.download_path %}
            <a href="{{ url_for('shop.download', obj_id=obj.id) }}{{ obj.gen_download_code() }}">
              <i class="fas fa-download" data-toggle="tooltip" title="Download Link"></i>
            </a>
            <a href="{{ url_for('admin.send_product', obj_id=obj.id) }}">
              <i class="fas fa-paper-plane" data-toggle="tooltip" title="Send File"></i>
            </a>
          {% endif %}

					<span style="display:none;">
					{% if obj.active %}
						active
					{% else %}
						disabled
					{% endif %}
					</span>
				</td>
				<td>
					{{ obj.price }}
				</td>
				<td>
					{{ obj.description }}
				</td>
				<td class="text-center">
				</td>
				<td>
					<a href="{{ obj.image }}" target="_blank">
						<img src="{{ obj.image }}" width="150" />
					</a>
				</td>
				<td>
					<small>
						{% for link in obj.links %}
							<a href="{{ url_for('admin.edit_link', obj_id=link.id) }}" target='link' data-toggle='tooltip' title="Edit">
								<i class="fas fa-edit"></i>
							</a>
							<a href="{{ link.url }}" target='_blank'>
								<i class="{{ link.icon }}"></i>
								{{ link.text }}
								{% if link.format %}
									({{ link.format[0:3] }})
								{% endif %}
							</a><br />
						{% endfor %}
						<a href="{{ url_for('admin.add_link') }}?product_id={{ obj.id }}" target='link' class="text-success">
							<i class="fas fa-plus"></i> Add Link
						</a>
					</small>
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock %}
