{% extends 'base.html' %}
{% block content %}

{% include 'admin/nav.html' %}

<a href="{{ url_for('admin.add_product') }}" class="btn btn-primary float-right">
	<i class="fas fa-plus"></i> Add Product
</a>

<h2>Products</h2>

<table class="table table-sm table-striped table-hover table-responsive-sm datatable">
	<thead>
		<tr>
			<th>Name</th>
			<th>Price</th>
			<th>Description</th>
			<th>Image</th>
			<th>Links</th>
		</tr>
	</thead>
	<tbody>
		{% for obj in products %}
			<tr {% if not obj.active %}class="table-dark"{% endif %}>
				<td>
					<a href="{{ url_for('admin.edit_product', obj_id=obj.id) }}">
						<i class="fas fa-edit"></i>
					</a>
					{{ obj.name }} 
					<a href="{{ url_for('page.view_product', slug=obj.slug) }}" target="product"><i class="fas fa-link"></i></a>
					<span style="display:none;">
					{% if obj.active %}
						active
					{% else %}
						disabled
					{% endif %}
					</span>
				</td>
				<td>
					{{ obj.price }}
				</td>
				<td>
					{{ obj.description }}
				</td>
				<td>
					<a href="{{ obj.image }}" target="_blank">
						<img src="{{ obj.image }}" width="150" />
					</a>
				</td>
				<td>
					<small>
						{% for link in obj.links %}
							<a href="{{ url_for('admin.edit_link', obj_id=link.id) }}" target='link' data-toggle='tooltip' title="Edit">
								<i class="fas fa-edit"></i>
							</a>
							<a href="{{ link.url }}" target='_blank'>
								{{ link.text|safe }}
							</a><br />
						{% endfor %}
						<a href="{{ url_for('admin.add_link') }}?product_id={{ obj.id }}" target='link' class="text-success">
							<i class="fas fa-plus"></i> Add Link
						</a>
					</small>
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock %}
