{% extends 'base.html' %}
{% block content %}

{% include 'admin/nav.html' %}

<h2>Records</h2>

<form method='post'>
	{{ form.hidden_tag() }}
	<div class="row mb-4">

		<div class="form-group col">
			{{ form.start_words.label(class="control-label") }}
			{% if form.start_words.errors %}
				{{ form.start_words(class="form-control is-invalid") }}
				<div class="invalid-feedback">
					{% for error in form.start_words.errors %}
						{{ error }}
					{% endfor %}
				</div>
			{% else %}
				{{ form.start_words(class="form-control") }}
			{% endif %}
		</div>

		<div class="form-group col">
			{{ form.end_words.label(class="control-label") }}
			{% if form.end_words.errors %}
				{{ form.end_words(class="form-control is-invalid") }}
				<div class="invalid-feedback">
					{% for error in form.end_words.errors %}
						{{ error }}
					{% endfor %}
				</div>
			{% else %}
				{{ form.end_words(class="form-control") }}
			{% endif %}
		</div>

		<div class="form-group col">
			{{ form.overall_words.label(class="control-label") }}
			{% if form.overall_words.errors %}
				{{ form.overall_words(class="form-control is-invalid") }}
				<div class="invalid-feedback">
					{% for error in form.overall_words.errors %}
						{{ error }}
					{% endfor %}
				</div>
			{% else %}
				{{ form.overall_words(class="form-control") }}
			{% endif %}
		</div>

		<div class="form-group col">
			{{ form.minutes.label(class="control-label") }}
			{% if form.minutes.errors %}
				{{ form.minutes(class="form-control is-invalid") }}
				<div class="invalid-feedback">
					{% for error in form.minutes.errors %}
						{{ error }}
					{% endfor %}
				</div>
			{% else %}
				{{ form.minutes(class="form-control") }}
			{% endif %}
		</div>

		<div class="form-group col">
			{{ form.comment.label(class="control-label") }}
			{% if form.comment.errors %}
				{{ form.comment(class="form-control is-invalid") }}
				<div class="invalid-feedback">
					{% for error in form.comment.errors %}
						{{ error }}
					{% endfor %}
				</div>
			{% else %}
				{{ form.comment(class="form-control") }}
			{% endif %}
		</div>

		<div class='col'>
			<br />
			<button type="submit" class="btn btn-primary mt-2"><i class="fas fa-plus"></i> Add Record</button>
		</div>

	</div>
</form>

<div class="card shadow mb-4">
	<div class="card-body">

		<h2 class="text-center">Daily Word Stats</h2>
		<hr />
		<div class="row">
			<div class="col text-center">
				<h4>Today</h4>
				<p>
				Speed: <b>{% if stats.today.minutes %}{{ stats.today.daily/stats.today.minutes }}{% else %}0{% endif %} wpm</b><br />
					Best: <b>{{ stats.today.best }}</b><br />
					Total: <b>{{ stats.today.daily }}</b>
				</p>
			</div>
			<div class="col text-center">
				<h4>Past Week</h4>
				<p>
					Average: <b>{{ stats.week_avg }}</b><br />
					Best: <b>{{ stats.week_best }}</b><br />
					Total: <b>{{ stats.week }}</b>
				</p>
			</div>
			<div class="col text-center">
				<h4>Past Month</h4>
				<p>
					Average: <b>{{ stats.month_avg }}</b><br />
					Best: <b>{{ stats.month_best }}</b><br />
					Total: <b>{{ stats.month }}</b>
				</p>
			</div>
			<div class="col text-center">
				<h4>Past Year</h4>
				<p>
					Average: <b>{{ stats.year_avg }}</b><br />
					Best: <b>{{ stats.year_best }}</b><br />
					Total: <b>{{ stats.year }}</b>
				</p>
			</div>
		</div>


	</div>
</div>

<div>
	<canvas id="chart" class="mb-4"></canvas>
</div>

<table class="table table-sm table-striped table-hover table-responsive-sm datatable-desc">
	<thead>
		<tr>
			<th>Date</th>
			<th>Words</th>
			<th>Overall</th>
			<th>Minutes</th>
			<th>Speed</th>
			<th>Comment</th>
		</tr>
	</thead>
	<tbody>
		{% for obj in records %}
			<tr>
				<td>
					<a href="{{ url_for('admin.edit_record', obj_id=obj.id) }}">
						<i class="fas fa-edit"></i>
					</a>
					<span class="d-none">{{ obj.date }} {{ obj.id }}</span>
					{{ obj.date.strftime('%a. %b. %-d, %Y') }}
				</td>
				<td>
					<span data-toggle="tooltip" title="{{ obj.start_words }} 🠦 {{ obj.end_words }}">
						{{ obj.words }}
					</span>
				</td>
				<td>
					{% if obj.overall_words %}
						{{ obj.overall_words }}
					{% endif %}
				</td>
				<td>
					{% if obj.minutes %}
						{{ obj.minutes }}
					{% endif %}
				</td>
				<td>
					{% if obj.words_per_minute %}
						<span data-toggle="tooltip" title="{{ obj.minutes }} minutes">
							{{ obj.words_per_minute }} wpm
						</span>
					{% endif %}
				</td>
				<td>
					{% if obj.comment %}
						{{ obj.comment }}
					{% endif %}
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
	<script>
		var labels = [
				{% for r in chart_records %}
					'{{ r.date }}',
				{% endfor %}
			];
		var monthlyChartData = {
	      labels: labels,
	      datasets: [{
									type: 'line',
									label: 'Daily Words',
									backgroundColor: '#6666ff',
					        borderColor: '#0000cc',
									fill: false,
									data: [
										{% for r in chart_records %}
											{{ r.daily }},
										{% endfor %}
									],
									yAxisID: 'y-axis-1'
								},{
									type: 'line',
									label: 'Words Per Minute',
									backgroundColor: '#ffcc33',
					        borderColor: '#ff9900',
									fill: false,
									data: [
										{% for r in chart_records %}
											{{ r.words_per_minute }},
										{% endfor %}
									],
									yAxisID: 'y-axis-2'
								},{
									type: 'line',
									label: 'Session Average',
									backgroundColor: '#ff6666',
					        borderColor: '#cc0000',
									fill: false,
									data: [
										{% for r in chart_records %}
											{{ r.session_avg }},
										{% endfor %}
									],
									yAxisID: 'y-axis-1'
								},{
									type: 'bar',
									label: 'Minutes',
									//backgroundColor: '#dd66ff',
					        //borderColor: '#cc00ee',
									//fill: false,
									data: [
										{% for r in chart_records %}
											{{ r.minutes }},
										{% endfor %}
									],
									yAxisID: 'y-axis-2'
								},{
									type: 'line',
									label: 'Daily Sessions',
									backgroundColor: '#ccffcc',
					        borderColor: '#00cc00',
									fill: false,
									lineTension: 0,
									data: [
										{% for r in chart_records %}
											{{ r.sessions }},
										{% endfor %}
									],
									yAxisID: 'y-axis-2'
								}]
		};

var monthly_settings = {
					type: 'bar',
					data: monthlyChartData,
					options: {
							responsive: true,
							hoverMode: 'index',
							stacked: false,
							title: {
								display: true,
								text: 'Records for {{ start_date }} - {{ end_date }}'
							},
							tooltips: {
								position: 'average',
								mode: 'index',
								intersect: false,
							},
							scales: {
									yAxes: [{
										type: 'linear', // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
										display: true,
										position: 'left',
										id: 'y-axis-1',
									}, {
										type: 'linear', // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
										display: true,
										position: 'right',
										id: 'y-axis-2',

										// grid line settings
										gridLines: {
											drawOnChartArea: false, // only want the grid lines for one axis to show up
										},
									}],
								}
						}
				};


var chart_ctx = document.getElementById('chart').getContext('2d');

// var total_settings = Object.assign({}, monthly_settings);

var monthly_chart = new Chart(chart_ctx, monthly_settings);

//total_settings.data = totalChartData;
//total_settings.options.title.text = 'Total Word/Chapter Counts';

//var total_chart = new Chart(total_ctx, total_settings);
	</script>

{% endblock %}
