{% extends 'base.html' %}
{% block content %}

{% include 'admin/nav.html' %}

<a href="{{ url_for('page.subscribe') }}" class="btn btn-primary float-right">
	<i class="fas fa-plus"></i> Add Subscriber
</a>

<h2>Subscribers</h2>

<table class="table table-sm table-striped table-hover table-responsive-sm datatable">
	<thead>
		<tr>
			<th>Name</th>
			<th>Email</th>
			<th>Subscription</th>
		</tr>
	</thead>
	<tbody>
		{% for subscriber in subscribers %}
			<tr>
				<td>
					<a href="#{# url_for('admin.edit_tag', id=tag.id) #}">
						<i class="fas fa-edit"></i>
					</a>
					{{ subscriber.first_name }} {{ subscriber.last_name }}
				</td>
				<td>{{ subscriber.email }}</td>
				<td>{{ subscriber.subscription }}</td>
			</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock %}
