{% extends 'base.html' %}
{% block content %}

{% include 'admin/nav.html' %}

<a href="{{ url_for('page.subscribe') }}" class="btn btn-primary float-right ml-3">
	<i class="fas fa-plus"></i> Add Subscriber
</a>
<a href="{{ url_for('admin.send_mail') }}" class="btn btn-secondary float-right">
	<i class="fas fa-envelope"></i> Manual Email 
</a>

<h2>Subscribers</h2>

<table class="table table-sm table-striped table-hover table-responsive-sm datatable">
	<thead>
		<tr>
			<th>Name</th>
			<th>Email</th>
			<th>Subscription</th>
			<th>Join Date</th>
			<th width="75">Actions</th>
		</tr>
	</thead>
	<tbody>
		{% for subscriber in subscribers %}
			<tr>
				<td>
					<a href="{{ url_for('page.subscription', email=subscriber.email, code=subscriber.gen_update_code()) }}">
						<i class="fas fa-edit"></i>
					</a>
					{{ subscriber.first_name }} {{ subscriber.last_name }}
				</td>
				<td>{{ subscriber.email }}</td>
				<td>
					{{ subscriber.subscription[1:-1] }}
				</td>
				<td>
					<span class="d-none">{{ subscriber.sub_date }}</span>
					<span data-toggle="tooltip" title="{{ subscriber.sub_date }}">
						{{ moment(subscriber.sub_date).fromNow() }}
					</span>
				</td>
				<td class="text-center">
					<a href="{{ url_for('page.unsubscribe', email=subscriber.email, code=subscriber.gen_update_code()) }}" class="btn btn-danger btn-sm" data-toggle='tooltip' title='Remove' target='unsubscribe'>
						<i class="fas fa-times"></i>
					</a>
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock %}
