{% extends 'base.html' %}
{% block content %}

{% include 'admin/nav.html' %}

<a href="{{ url_for('admin.add_tag') }}" class="btn btn-primary float-right">
	<i class="fas fa-plus"></i> Add Tag
</a>

<h2>Tags</h2>

<table class="table table-sm table-striped table-hover datatable">
	<thead>
		<tr>
			<th>Name</th>
			<th width="100">Actions</th>
		</tr>
	</thead>
	<tbody>
		{% for tag in tags %}
			<tr>
				<td>{{ tag.name }}</td>
				<td class="text-center">
					<a href="{{ url_for('admin.edit_tag', id=tag.id) }}" class="btn btn-primary btn-sm">
						<i class="fas fa-edit"></i>
					</a>
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock %}
