{% extends 'base.html' %}
{% block content %}

{% include 'admin/nav.html' %}

<a href="{{ url_for('admin.add_user') }}" class="btn btn-primary float-right">
	<i class="fas fa-plus"></i> Add User
</a>

<h2>Users</h2>

<table class="table table-sm table-striped table-hover datatable">
	<thead>
		<tr>
			<th>Name</th>
			<th>Email</th>
			<th>Timezone</th>
		</tr>
	</thead>
	<tbody>
		{% for user in users %}
			<tr>
				<td>
					<a href="{{ url_for('admin.edit_user', id=user.id) }}">
						<i class="fas fa-edit"></i>
					</a>
					{{ user.username }}
				</td>
				<td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
				<td>{{ user.timezone }}</td>
			</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock %}
