<div class="row justify-content-center">
	<div class="col-md-11 col-12 mb-3 mt-3">
		<div class="author-note">
			{% if page.author.avatar %}
				 <div style="width:50px;height:50px;border-radius:100px;background:url({{ page.author.avatar }}) center center;background-size:cover;" class="float-left mr-3 mb-3"></div> 
			{% endif %}
			<h3>
				A note from 
				{% if page.author.email %}
					<a href="mailto:{{ page.author.email }}">
				{% endif %}
						{{ page.author.username }}
				</a>
			</h3>
			{{ page.html('author_note')|safe }}
		</div>
	</div>
</div>
