{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-md-center">
  <div class="col-md-8 col content">
    
		{% include 'theme-chooser.html' %}

    <h1>{{ page.title }}</h1>
		{% include 'page/edit.html' %}
    <!--<p class="text-muted"><small>{{ page.pub_date }}</small></p>-->
    <div class="content">
			{{ page.html_body()|safe }}

      <br />
			{% for child in page.pub_children()[::-1] %}
        {{ child.card()|safe }}
			{% endfor %}
    </div>
  
    <br />
  </div>
  <aside class="col-md-4 col-md-offset-0 col-sm-10 col-sm-offset-1 col-xs-12">
		{% include 'page/table-of-contents.html' %}
		{{ page.html_sidebar()|safe }}
  </aside>
</div>
{% endblock %}
