{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-md-center">
  <div class="col-md-8 col content">
    
		{% include 'theme-chooser.html' %}

    <h1>{{ page.title }}</h1>
    <!--<p class="text-muted"><small>{{ page.pub_date }}</small></p>-->
    <div class="content">
			{{ page.html_body()|safe }}

      <br />
			{% for child in page.pub_children()[::-1] %}
				<div class='card mb-4'>
					<div class='card-body'>
						<p class='text-muted float-right'><small>{{ moment(child.pub_date).format('llll') }}</small></p>
						<h3><a href='{{ child.path }}'>{{ child.title }}</a></h3>
						<p>{{ child.description() }}</p>
						{# if child.template in ['chapter', 'post', 'story'] %}
							<small class='float-right text-muted'>
								<i class="fas fa-comment-alt"></i>
								<a href='{{ child.path }}#disqus_thread'>Post a comment</a>
							</small>
						{% endif #}
						<i class="fa fa-tags"></i> Tags:
						{% for tag in child.tags %}
							<a href="/?tag={{ tag }}"><span class="badge badge-secondary">{{ tag }}</span></a>
						{% endfor %}
					</div>
				</div>
			{% endfor %}
    </div>
  
    <br />
  </div>
  <aside class="col-md-4 col-md-offset-0 col-sm-10 col-sm-offset-1 col-xs-12">
		{% include 'page/table-of-contents.html' %}
		{{ page.html_sidebar()|safe }}
  </aside>
</div>
{% endblock %}
