{% if not 'card' in hide %}
<div class="card mb-4">
{% endif %}

<div class="card-body position-relative {% if not 'shadow' in hide %}shadow{% endif %}">

    {% if not 'banner' in hide %}
      <div class="text-white card-banner" style="background-image:url({{ card_page.banner_path(always_return_img=True) }});">
        <div class="card-banner-overlay">
        {% if not 'bannertext' in hide %}
          <a href="{{ card_page.path }}">
            <h3 class="card-title text-outline {% if not 'cover' in hide %}text-right{% endif %} d-none d-md-block">
              {% if card_page.title|length > 35 %}
                {{ card_page.title[0:32] }}...
              {% else %}
                {{ card_page.title }}
              {% endif %}
            </h3>
          </a>
        {% endif %}
      </div>
      </div>
    {% endif %}

    {% if card_page.cover_path() and 'cover' not in hide %}
      <a href="{{ card_page.path }}">
        <img src="{{ card_page.cover_path() }}" class="float-left img-thumbnail page-card-cover" alt="{{ card_page.title }}" />
      </a>
    {% endif %}

    <div {% if not 'banner' in hide %}class="mt-100"{% endif %}>
    
      <a href="{{ card_page.path }}">
        <h3 class="card-title {% if not 'banner' in hide and not 'bannertext' in hide %}d-md-none{% endif %} d-block">{{ card_page.title }}</h3>
      </a>
      
      {% if not 'date' in hide %}
        <small class="text-muted">{{ moment(card_page.pub_date).format('llll') }}</small><br />
      {% endif %}

      {% if not 'description' in hide %}
        <p>
          {{ card_page.description() }}
          <a href="{{ card_page.path }}">Read More</a>
        </p>
      {% endif %}
      
      {% if card_page.comment_count() and not 'comments' in hide %}
        <a href="{{ card_page.path }}" class="float-right badge badge-pill badge-primary jquery-tooltip" title="Comments">
          <i class="fas fa-comment"></i>
          {{ card_page.comment_count() }}
        </a>
      {% endif %}

      {% if card_page.tags and not 'tags' in hide %}
          <i class="fa fa-tags"></i> Tags:
          {% for tag in card_page.tags %}
            <a href="{{ url_for('page.search', tag=tag) }}"><span class="badge badge-secondary">{{ tag }}</span></a>
          {% endfor %}
      {% endif %}

    </div>

  </div>

{% if not 'card' in hide %}
</div>
{% endif %}
