{% extends 'base.html' %}

{% block content %}
{% load static %}
<div class="row justify-content-md-center">
  <div class="col-md-7 col content">

		{% include 'theme-chooser.html' %}

		<h1>{{ page.title }}</h1>
    <p>
      <small>
        <span class="text-muted">
          <span title="Word Count" data-toggle="tooltip" class="badge badge-secondary"># {{ page.word_count }}</span> <!--&#8226;-->
          <span title="Reading Time (200-150 wpm)" data-toggle="tooltip" class="badge badge-secondary">&#8987; {{ page.read_time }}</span>
        </span>

      </small>
    </p>
		<p class="text-muted"><small>{{ page.pub_date }}</small></p>
		<a href="#" class="btn btn-light border-secondary">Prev. Page</a></li>
		<a href="#" class="btn btn-light float-right border-secondary">Next Page</a></li>
    <div class="content">
			{{ page.html_body|safe }}
    </div>

    <br /><br />
    <div class="row">
      <div class="col-sm-6 col-xs-12">
				<i class="fa fa-tags"></i> Tags:
				{% for tag in page.tags.all %}
					<a href="/?tag={{ tag }}"><span class="badge badge-secondary">{{ tag }}</span></a>
				{% endfor %}
      </div>
      <div class="col-sm-6 col-xs-12 text-right share-btns">
        <small class="text-muted">Share:</small>
				{# share buttons #}
      </div>
    </div>
		<br />
		<a href="#" class="btn btn-light border-secondary">Prev. Page</a></li>
			<a href="#" class="btn btn-light float-right border-secondary">Next. Page</a></li>
		<br />
		<br />
  </div>
  <aside class="col-md-3 col-md-offset-0 col-sm-10 col-sm-offset-1 col-xs-12">
		{{ page.table_of_contents|safe }}
		{{ page.full_sidebar|safe }}
  </aside>
</div>
<div class="row justify-content-md-center">
  <div class="col-md-8 col">
    <h2>Comments</h2>

    <div id="disqus_thread"></div>
    <script>

    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

    var disqus_config = function () {
			this.page.url = "{{ page.slug }}";  // Replace PAGE_URL with your page's canonical URL variable
			this.page.identifier = "{{ page.id }"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };

    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://the-writings-of-nathan-hare.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

  </div>
</div>

{% endblock %}
