{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-md-center">
  <div class="col-md-7 col content">

		{% include 'theme-chooser.html' %}

		<h1 class="mb-5">{{ page.title }} - Glossary</h1>

    <div class="content">

			{% if not definitions %}
				<p>
					No glossary items added yet...
				</p>
			{% endif %}

			{% for type in sorted(type_choices) %}
				{% if definitions[type[1]] %}
					<h2>{{ type[1] }}</h2>
					<div class="accordian mb-5" id="{{ tag }}_accordian">
						{% for definition in definitions[type[1]] if definition.active or current_user.is_authenticated %}
						<div class="card{% if not definition.active %} bg-dark text-light{% endif %}">
								<div class="card-header" id="headingOne">
									{% if current_user.is_authenticated %}
										<a href="{{ url_for('admin.edit_definition', obj_id=definition.id) }}"
											 class="btn btn-secondary btn-sm float-right">
											<i class="fas fa-edit"></i>
										</a>
										{% if not definition.active %}
											<i class="fas fa-eye-slash float-left"></i>
										{% endif %}
									{% endif %}
									<a href="#" class="btn btn-link collapsed d-block text-left" type="button" data-toggle="collapse" data-target="#collapse{{ tag }}{{ definition.id }}">
										<h3 class="mb-0">
											{{ definition.name }}
											{% if current_user.is_authenticated and definition.tag_id and definition.tag.pages %}
												<small class="text-muted" title="Mentions" data-toggle='tooltip'>
													({{ len(definition.tag.pages) }})
												</small>
											{% endif %}
										</h3>
									</a>
								</div>

								<div id="collapse{{ tag }}{{ definition.id }}" class="collapse" data-parent="#{{ tag }}_accordian">
									<div class="card-body">
										<p>
											{{ definition.html_body()|safe }}
										</p>
										{% if current_user.is_authenticated and definition.hidden_body %}
											<div class="card">
												<div class="card-body">
													<h4><i class="fas fa-eye-slash"></i> Author's Note</h4>
													<p>
														{{ definition.html_body(True)|safe }}
													</p>
												</div>
											</div>
										{% endif %}

										{% if definition.tag_id and definition.tag.pages %}
											<h4>Mentioned In:</h4>
											<ul>
												{% for page in definition.tag.pages %}
													{% if page.published or current_user.is_authenticated %}
														<li>
															<a href='{{ page.path }}'>{{ page.title }}</a>
															{% if not page.published %}
																<small class="text-muted">
																	(Unpublished)
																</small>
															{% endif %}
														</li>
													{% endif %}
												{% endfor %}
											</ul>
										{% endif %}
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
				{% endif %}
			{% endfor %}

    </div>

  </div>
  <aside class="col-md-3 col-md-offset-0 col-sm-10 col-sm-offset-1 col-xs-12">
		{% include 'page/table-of-contents.html' %}
		{{ page.html_sidebar()|safe }}
  </aside>
</div>

{% endblock %}
