{% extends 'base.html' %}

{% block content %}
<div class="row">
  <div class="col-md-9 col-md-offset-1 col-sm-12 col-xs-12 content">
    
		{% include 'theme-chooser.html' %}

		<h1>{{ page.title }}</h1>

    <p>
        <span class="text-muted">
          <span title="Word Count" data-toggle="tooltip" class="badge badge-secondary"># {{ page.word_count() }}</span> <!--&#8226;-->
          <span title="Reading Time (200-150 wpm)" data-toggle="tooltip" class="badge badge-secondary">&#8987; {{ page.read_time() }}</span>
        </span>
    </p>

		{% if page.pub_date %}
			<p class="text-muted"><small>{{ moment(page.pub_date).format("LLL") }}</small></p>
		{% endif %}

		{% include 'page/next_prev.html' %}

    <div class="content">
			{{ page.html_body()|safe }}
    </div>
  
    <div class="row">
      <div class="col-sm-6 col-xs-12">
				<i class="fa fa-tags"></i> Tags:
				{% for tag in page.tags %}
					<a href="/?tag={{ tag }}"><span class="badge badge-secondary">{{ tag }}</span></a>
				{% endfor %}
      </div>
      <div class="col-sm-6 col-xs-12 text-right share-btns">
        <small class="text-muted">Share:</small>
				{# share buttons #}
      </div>
    </div>

		{% include 'page/next_prev.html' %}

  </div>
  <aside class="col-md-3 col-md-offset-0 col-sm-10 col-sm-offset-1 col-xs-12">
		{{ page.html_sidebar()|safe }}
		{% include 'page/table-of-contents.html' %}
  </aside>
</div>

{% include 'page/comments.html' %}

{% endblock %}
