{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-md-center">
  <div class="col-md-10 col content">
    
		{% include 'theme-chooser.html' %}

    <h1>{{ page.title }}</h1>
		{% include 'page/edit.html' %}
    <!--<p class="text-muted"><small>{{ page.pub_date }}</small></p>-->
    <div class="content">
			{{ page.html_body()|safe }}

      <br />
			{% for child in page.pub_children() %}
        {{ child.card()|safe }}
			{% endfor %}
    </div>
  
    <br />
  </div>
</div>
{% endblock %}

