{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-md-center">
  <div class="col-md-10 col-sm-12">
		{% include 'theme-chooser.html' %}
		<h1 class="mb-4">{{ page.title }}</h1>
		<div class="row">

			{% for product in products %}
				<div class="col-md-4 col-sm-3 col">
					<div class="card shadow">
						{% if product.links %}<a href="{{ product.links[0].url }}" target="_blank">{% endif %}
							<div style="height:200px;width:100%;background-image:url({{ product.image }});background-size:contain;background-repeat:no-repeat;background-position:center center;background-color: rgba(230,230,230,0.3)"></div>
						</a>
						<div class="card-body">
							<h3 class="card-title">
								{% if product.links %}<a href="{{ product.links[0].url }}" target="_blank">{% endif %}
									{{ product.name }}
								</a>
							</h3>
							<p>
							Starting at <b>{{ product.price }}</b>
							</p>
							<p>
								<small>
									{{ product.description }}
								</small>
							</p>
							<div class="text-right">
								{% if product.links %}
									{% if product.links|length > 1 %}
										<div class="btn-group">
											<a href="{{ product.links[0].url }}" class="btn btn-primary">{{ product.links[0].text|safe }}</a>
											<button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
														<span class="sr-only">Toggle Dropdown</span>
											</button>
											<div class="dropdown-menu">
												{% for l in product.links[1:]%}
													<a class="dropdown-item" href="{{ l.url }}">{{ l.text|safe }}</a>
												{% endfor %}
											</div>
										</div>
									{% else %}
										<a href="{{ product.links[0].url }}" class="btn btn-primary">{{ product.links[0].text|safe }}</a>
									{% endif %}
								{% endif %}
							</div>
						</div>
					</div>
				</div>
			{% endfor %}


		</div>
  </div>
</div>
{% endblock %}
