{% extends 'base.html' %}

{% block content %}
{% load static %}
<div class="row justify-content-md-center">
  <div class="col-md-7 col-12 content">
    
		{% include 'theme-chooser.html' %}

    <h1>{{ page.title }}</h1>
    <p class="text-muted"><small>{{ page.pub_date }}</small></p>
    <div class="content">
			{{ page.html_body|safe }}
    </div>
  
    <br /><br />
    <div class="row">
      <div class="col-sm-6 col-xs-12">
				<i class="fa fa-tags"></i> Tags:
				{% for tag in page.tags.all %}
					<a href="/?tag={{ tag }}"><span class="badge badge-secondary">{{ tag }}</span></a>
				{% endfor %}
      </div>
      <div class="col-sm-6 col-xs-12 text-right share-btns">
        <small class="text-muted">Share:</small>
        {# getShareButtons($page->url) #}
      </div>
    </div><br />
    <nav aria-label="...">
      <ul class="pager">
<!--
				{# <?=$page->nextPrev();?> #}
-->
      </ul>
    </nav>
  </div>
  <aside class="col-md-3 col-12">
		{{ page.table_of_contents|safe }}
		{{ page.full_sidebar|safe }}
  </aside>
</div>
<div class="row justify-content-md-center">
  <div class="col-md-8 col-12">
    <h2>Comments</h2>

    <div id="disqus_thread"></div>
    <script>

    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
    
    var disqus_config = function () {
      this.page.url = "{{ page.slug }}";  // Replace PAGE_URL with your page's canonical URL variable
      this.page.identifier = "{{ page.pk }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };

    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://the-writings-of-nathan-hare.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                            
                            
  </div>
</div>
{% endblock %}
