{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-md-center">
  <div class="col-md-7 col-12 content">
    
		{% include 'theme-chooser.html' %}

    <h1>{{ page.title }}</h1>
    <p>
			<span class="text-muted">
				<span title="Total Word Count" data-toggle="tooltip" class="badge badge-secondary"># {{ page.child_word_count() }}</span> <!--&#8226;-->
				<span title="Reading Time (200-150 wpm)" data-toggle="tooltip" class="badge badge-secondary">&#8987; {{ page.child_read_time() }}</span>
			</span>
    </p>

		{% if page.pub_date %}
			<p class="text-muted"><small>{{ page.pub_date.strftime("%B %-d, %Y - %-I:%M %p") }}</small></p>
		{% endif %}    

		<div class="content">
			{{ page.html_body()|safe }}
			{% if page.pub_children() %}
				<div class="text-center">
					<a href='{{ page.pub_children()[-1].path }}' class="btn btn-primary btn-lg">
						<i class="fas fa-book"></i>
						Start Reading
					</a>
				</div>
			{% endif %}
    </div>
  
    <br /><br />
    <div class="row">
      <div class="col-sm-6 col-xs-12">
				<i class="fa fa-tags"></i> Tags:
				{% for tag in page.tags %}
					<a href="/?tag={{ tag }}"><span class="badge badge-secondary">{{ tag }}</span></a>
				{% endfor %}
      </div>
      <div class="col-sm-6 col-xs-12 text-right share-btns">
        <small class="text-muted">Share:</small>
        {# getShareButtons($page->url) #}
      </div>
    </div><br />
    <nav aria-label="...">
      <ul class="pager">
<!--
				{# <?=$page->nextPrev();?> #}
-->
      </ul>
    </nav>
  </div>
  <aside class="col-md-3 col-12">
		{{ page.html_sidebar()|safe }}
		{% include 'page/table-of-contents.html' %}
  </aside>
</div>
<div class="row justify-content-md-center">
  <div class="col-md-8 col-12">
    <h2>Comments</h2>

    <div id="disqus_thread"></div>
    <script>

    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
    
    var disqus_config = function () {
      this.page.url = "{{ page.slug }}";  // Replace PAGE_URL with your page's canonical URL variable
      this.page.identifier = "{{ page.pk }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };

    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://the-writings-of-nathan-hare.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                            
                            
  </div>
</div>
{% endblock %}
