{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-md-center">
  <div class="col-md-7 col-12 content">
    
		{% include 'theme-chooser.html' %}

    <h1>{{ page.title }}</h1>
    <p>
			<span class="text-muted">
        <small>Published:</small>
				<span title="Published Word Count" data-toggle="tooltip" class="badge badge-secondary"># {{ page.child_word_count() }}</span> <!--&#8226;-->
				<span title="Published Reading Time (200-150 wpm)" data-toggle="tooltip" class="badge badge-secondary"><i class="fas fa-hourglass-half"></i> {{ page.child_read_time() }}</span>
				<span title="Published Chapters" data-toggle="tooltip" class="badge badge-secondary"><i class="fas fa-book-open"></i> {{ page.child_count() }}</span>
        <br />
        <small class="mr-3">Written:</small>
				<span title="Total Word Count" data-toggle="tooltip" class="badge badge-secondary"># {{ page.child_word_count(False) }}</span> <!--&#8226;-->
				<span title="Total Reading Time (200-150 wpm)" data-toggle="tooltip" class="badge badge-secondary"><i class="fas fa-hourglass-half"></i> {{ page.child_read_time(False) }}</span>
				<span title="Total Chapters" data-toggle="tooltip" class="badge badge-secondary"><i class="fas fa-book-open"></i> {{ page.child_count(True) }}</span>
			</span>
    </p>

		{% if page.pub_date %}
			<p class="text-muted"><small>{{ moment(page.pub_date).format("LLL") }}</small></p>
		{% endif %}    

		<div class="content">
			{{ page.html_body()|safe }}
			{% if page.pub_children() %}
				<div class="text-center">
					<a href='{{ page.pub_children()[0].path }}' class="btn btn-primary btn-lg">
						<i class="fas fa-book"></i>
						Start Reading
					</a>
					&nbsp;&nbsp;
					<a href='{{ page.pub_children()[::-1][0].path }}' class="btn btn-primary btn-lg">
						<i class="fas fa-seedling"></i>
						Latest Chapter
					</a>
				</div>
			{% endif %}
    </div>
  
    <br /><br />
    <div class="row">
      <div class="col-sm-6 col-xs-12">
				<i class="fa fa-tags"></i> Tags:
				{% for tag in page.tags %}
					<a href="/?tag={{ tag }}"><span class="badge badge-secondary">{{ tag }}</span></a>
				{% endfor %}
      </div>
      <div class="col-sm-6 col-xs-12 text-right share-btns">
				{% include 'share.html' %}
      </div>
    </div><br />
  </div>
  <aside class="col-md-3 col-12">
		{{ page.html_sidebar()|safe }}
		{% include 'page/table-of-contents.html' %}
  </aside>
</div>

{% include 'page/comments.html' %}

{% endblock %}
