<a href="#" class="div-toggler">
	<h4>Table of Contents <i class="fas fa-chevron-down"></i></h4>
</a>
<div class="toggled-div hidden">
	<ul>
		{% if page.template == "chapter" or page.template == "post" %}
			{% for child in page.pub_siblings(chapter_post_only=True) %}
				<li>
					<a href='{{ child.path }}'>{{ child.title }}</a>
				</li>
			{% endfor %}
			{% if page.parent.definitions %}
				<br />
				<li>
					<a href="{{ page.parent.path }}/glossary">
						Glossary
					</a>
				</li>
			{% endif %}
		{% elif page.template == "blog" %}
		{% for child in page.pub_children(chapter_post_only=True)[::-1] %}
				<li>
					<a href='{{ child.path }}'>{{ child.title }}</a>
				</li>
			{% endfor %}
		{% else %}
			{% for child in page.pub_children(chapter_post_only=True) %}
				<li>
					<a href='{{ child.path }}'>{{ child.title }}</a>
				</li>
			{% endfor %}
			{% if page.definitions %}
				<br />
				<li>
					<a href="{{ page.path }}/glossary">
						Glossary
					</a>
				</li>
			{% endif %}
		{% endif %}
	</ul>
</div>
