{% extends 'base.html' %}
{% block content %}

<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="{{ url_for('page.shop') }}">Shop</a></li>
		<li class="breadcrumb-item active" aria-current="page">{{ product.name }}</li>
	</ol>
</nav>

{% include 'theme-chooser.html' %}
<br />
<br />
<div class="row">
	<div class="col-md-6 col-12">
		{% if product.links %}	
			<a href="{{ product.links[0].url }}" target="_blank">
		{% endif %}
				<img src="{{ product.image }}" class="img-fluid" />
		</a>
	</div>
	<div class="col">
		<h1>{{ product.name }}</h1>
		{% if product.linked_page %}
			<small class="text-muted">
				(Product for: 
				<i>
					<a href="{{ product.linked_page.path }}">
						{{ product.linked_page.title }}
					</a>
				</i>)
			</small>
		{% endif %}

		<p class="mb-5">{{ product.description }}</p>
		<center>
		Starting at
		<h2 class="mb-5">{{ product.price }}</h2>
		{% if product.links %}	
			<a href="{{ product.links[0].url }}" class="btn btn-primary btn-lg" target="_blank">{{ product.links[0].text|safe }}</a>
		</center>
			{% if product.links|length > 1 %}
				<hr class="mt-4 mb-4" />
				<h3>More Links:</h3>
				<ul>
					{% for link in product.links[1:] %}
						<li><a href="{{ link.url }}" target="_blank">{{ link.text|safe }}</a></li>
					{% endfor %}
				</ul>
			{% endif %}
		{% else %}
			<button type="button" class="btn btn-secondary btn-lg disabled" disabled>
				<i class="fas fa-seedling"></i> Coming Soon!
			</button>
			</center>
		{% endif %}
	</div>
</div>

<br />

<hr class="mb-4 mt-5" />

<h3 class="mb-4">Related Products</h3>

<div class="row">
	{% for r_product in related %}
		<div class="col-md-4 col">
			{{ r_product.card()|safe }}
		</div>
	{% endfor %}
</div>

{% endblock %}
