<!DOCTYPE html>
<html lang='en'>
	<head>
		<title>{# page.title #} - Houston Hare</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<meta name="description" content="{# page.body #}" />

    <!-- Schema.org markup for Google+ -->
		<meta itemprop="name" content="{# page.title #}">
		<meta itemprop="description" content="{# page.body #}">
		<meta itemprop="image" content="{# page.banner #}">

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@treetrnk">
		<meta name="twitter:title" content="{# page.title #}">
		<meta name="twitter:description" content="{# page.body #}">
    <meta name="twitter:creator" content="@treetrnk">
    <!-- Twitter summary card with large image must be at least 280x150px -->
		<meta name="twitter:image:src" content="{# page.banner #}">

    <!-- Open Graph data -->
		<meta property="og:title" content="{# page.title #}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="http://houstonhare.com" />
		<meta property="og:image" content="{# page.banner #}" />
		<meta property="og:description" content="{# page.body #}" />
    <meta property="og:site_name" content="Stories by Houston Hare" />
		<meta property="article:published_time" content="{# page.pub_date #}" />
		<meta property="article:modified_time" content="{# page.pub_date #}" />
		<meta property="article:section" content="{# page.parent.title #}" />
		<meta property="article:tag" content="{# page.tags #}" />
    <meta property="fb:admins" content="Facebook numberic ID" />

    <link rel="shortcut icon" href="/resources/images/favicon2.png" type="image/x-icon">
		<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
		<link href="{{ url_for('static', filename='datatables/datatables.min.css') }}" rel="stylesheet" media="screen">
		<link href="{{ url_for('static', filename='css/select2.min.css') }}" rel="stylesheet" media="screen">
    <!---<script src="https://use.fontawesome.com/0dabb168cf.js"></script>--->

		<link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">

		<style>
			div.jumbotron {
				{% if not page or page.template == 'page' or page.template == 'blog' %}
					height: 0px;
					padding: 0px;
					margin: 50px;
				{% else %}
					background-image: url({{ page.banner_path() }});
				{% endif %}
			}

			{% if session['theme'] == 'dark' %}
				body {
					background-color: #1c1c1c;
					color: #aaa;
				}
				.card {
					background-color: #222;
					color: #aaa;
				}
				.modal-content {
					background-color: #222;
					color: #aaa;
				}
				section.content-wrapper {
					background-color: #222;
					color: #aaa;
				}
				ol.breadcrumb {
					background-color: #333;
				}
				table.dataTable tbody tr {
					background-color: #111;
				}
				table.dataTable tbody tr:hover {
					background-color: #333;
				}
				.form-control {
					background-color: #333;
					color: #aaa;
				}
				.form-control:focus {
					background-color: #111;
					color: #aaa;
				}
			{% endif %}
		</style>

	</head>
	<body>

		<progress value="0" data-toggle="tooltip" data-placement="bottom" title="Reading Progress"></progress>

		<header>
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-sm-10 col-xs-10 site-title">
						<a href="/">
						<span class="small">Stories by</span>
							<h2>Houston Hare</h2>
						</a>
					</div>
					<nav class="col-md-8 col-sm-2 col-xs-2 navlinks small text-right">
						<i class="glyphicon glyphicon-menu-hamburger nav-menu hidden-lg hidden-md"></i>
						<ul class="navlinks hidden-sm hidden-xs">
              <li><a href="#" data-toggle="modal" data-target="#searchMod" id="searchbtn"> &nbsp;&nbsp; <i class="glyphicon glyphicon-search"></i> &nbsp;&nbsp; </a></li>
							{# topnav #}
							{% for topnav in session["nav"] %}
								<li>
									<a href="#{# topnav.path #}"class="dropdown-toggle" data-toggle="dropdown">{{ topnav.title }}</a>
									{% if topnav.children %}
										<ul class="dropdown-menu multi-level">
											{% for child in topnav.children %}
												<li>
													<a href="{{ child.path }}">{{ child.title }}</a>
													{% if child.children %}
														<ul class="dropdown-submenu>
															{% for grandchild in child.children %}
																<li>
																	<a href="{{ grandchild.path }}">{{ grandchild.title }}</a>
																</li>
															{% endfor %}
														</ul>
													{% endif %}
											{% endfor %}
										</ul>
									{% endif %}
								</li>
							{% endfor %}
							{# for link in nav #}
								{# if link.title == 'Home' #}
									<li><a href="/">{# link.title #}</a></li>
								{# else #}
									<li><a href="{# link.path #}">{# link.title #}</a></li>
								{# endif #}
							{# endfor #}
            </ul>
					</nav>
				</div>
			</div>
		</header>
    <nav class="toggle-nav" id="toggle-nav">
      <form action="/search/" method="get">
        <div class="row">
          <div class="col-xs-12">
            <div class="input-group" id="searchtoggle">
              <input type="text" name="s" class="form-control" placeholder="Search" />
              <span class="input-group-btn">
                <button type="submit" class="btn btn-primary"><i class="fas fa-search"></i>
              </span>
            </div>
          </div>
        </div>
      </form>
			<ul>
				{# sidenav #}
			</ul>
		</nav>

		<div class="jumbotron banner">
			<div class="container">
				<br /><br /><br /><br />
				{% if page %}
					{% if page.template == 'story' %}
						<h1 class="display-4">{{ page.title }}</h1>
					{% endif %}
				{% endif %}
        <!--
        -->
			</div>
    </div>

		<!-- Modal -->
		<div class="modal fade" id="searchMod" tabindex="-1" role="dialog" aria-labelledby="searchModLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-body">
						<form action="/search/" method="get">
							<div class="input-group">
								<input type="text" name="s" placeholder="Search" class="form-control" id="searchInput" />
								<span class="input-group-btn">
									<button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i></button>
								</span>
							</div>
							{# getAllTags #}
						</form>
					</div>
				</div>
			</div>
		</div>

		<!-- Modal -->
		<div class="modal fade" id="subscribeMod" tabindex="-1" role="dialog" aria-labelledby="subscribeModLabel">
			<form class="form" action="" method="post" id="subForm">
        <input type="hidden" name="subscribe" value="yes" />
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h3 class="modal-title" id="subscribeModLabel"><i class="glyphicon glyphicon-envelope"></i> Subscribe!</h3>
						</div>
						<div class="modal-body">
							<small><p>Subscribe now to receive updates every time a new chapter is posted.</p></small>
							<div class="row">
								<div class="col-xs-12">
									<small><label class="control-label">Email <span class="text-danger"><b>*</b></span></label></small>
									<input type="email" placeholder="example@email.com" name="email" class="form-control" maxlength="200" required />
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12">
									<small><label class="control-label">Name</label> (Optional)</small>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-6">
									<input type="text" name="fname" placeholder="First" class="form-control" maxlength="50" />
								</div>
								<div class="col-xs-6">
									<input type="text" name="lname" placeholder="Last" class="form-control" maxlength="50" />
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12">
									<small><label class="control-label">&nbsp;</label></small>
									<div class="coinhive-captcha" data-hashes="512" data-key="{# config('coinhive-public') #}">
										<div class="g-recaptcha" data-sitekey="{# config('google-public') #}"></div>
                  </div>
								</div>
							</div>
            </div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							<button type="submit" class="btn btn-primary"><i class="fas fa-envelope"></i> Subscribe</button>
						</div>
					</div>
				</div>
			</form>
		</div>

    <button type="button" class="close" id="sub-btn-close"><small><i class="glyphicon glyphicon-remove"></i></small></button>

    <button type="button" class="btn btn-primary" id="sub-btn" data-toggle="modal" data-target="#subscribeMod" title="Subscribe"><i class="fas fa-envelope"></i><span class="hidden-xs"> Subscribe</span></button>

		<section class="container content-wrapper">
			{% if page and page.parent_id %}
				<ol class="breadcrumb">
					{% for parent in page.ancestors()[::-1] %}
						<li class="breadcrumb-item"><a href="{{ parent.path }}">{{ parent.title }}</a></li>
					{% endfor %}
					<li class="breadcrumb-item active">{{ page.title }}</li>
				</ol>
			{% endif %}
			{# $page->breadcrumbs() #}

			{% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            {% for category, message in messages %}
							{% if category != "message" %}
								<div class="alert alert-{{ category }}" role="alert">
									{% if category == 'success' %}
										<b><i class="fas fa-check-circle"></i> Success!</b>
									{% elif category == 'info' %}
										<b><i class="fas fa-info-circle"></i> Info!</b>
									{% elif category == 'warning' %}
										<b><i class="fas fa-exclamation-triangle"></i> Warning!</b>
									{% elif category == 'danger' %}
										<b><i class="fas fa-exclamation-circle"></i> Error!</b>
									{% endif %}
									{{ message|safe }}
								</div>
							{% else %}
								<div class="alert alert-warning" role="alert">
									<b><i class="fas fa-exclamation-triangle"></i> Warning!</b>
									{{ message|safe }}
								</div>
							{% endif %}
            {% endfor %}
        {% endif %}
			{% endwith %}

			{% block content %}
			{% endblock %}

			<br /><br />
    </section>

		<footer class="text-muted small">
			<p class="text-center">&#169; Copyright 2019, Houston Hare</a>
      <p class="text-center">
        "<a href="http://www.newgrounds.com/art/view/llamareaper/fantasy-landscape-2" target="_blank">Fantasy Landscape</a>"
        and "<a href="http://www.newgrounds.com/art/view/llamareaper/pumpkinbutts" target="_blank">Pumpkinbutts.</a>"
        by <a href="http://atthespeedof.newgrounds.com/" target="_blank">Jason Coates</a> are licensed under
        <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/" target="_blank">CC BY-NC-SA 3.0</a>
        and <a href="https://creativecommons.org/licenses/by-nc/3.0/" target="_blank">CC BY-NC 3.0</a>, respectively
      </p>
      <p class="text-center">
        "<a href="https://www.reddit.com/r/wallpapers/comments/3npdce/1920x1080_october_forest_variant_in_comments/" target="_blank">October Forest (green variant)</a>" by Aaron Hoek is used with permission.
      </p>
		</footer>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<!-- Latest compiled and minified JavaScript -->
		<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<script src="{{ url_for('static', filename='js/slugify.js') }}"></script>
		<script src="{{ url_for('static', filename='datatables/datatables.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/select2.min.js') }}"></script>
		<script type="text/javascript">
			
			{% if page %}
				var postType = "{{ page.template }}";
			{% endif %}

		</script>
		<script src="{{ url_for('static', filename='js/main.js') }}"></script>
	</body>
</html>
