<div class="row my-4">


  <img src="{% if comment.user_id %}{{ comment.user.avatar }}{% else %}{{ url_for('page.uploads', filename='default-profile.png') }}{% endif %}" width="50"  height="50" />
  
  <div class="col">
    <div class="card">
      <div class="card-body">
        
        <small>
          <span class="float-right jquery-tooltip" title="{{ comment.created }}">
            {{ moment(comment.created).fromNow() }}
          </span>
          <b>{% if comment.user_id %}{{ comment.user.display_name() }}{% else %}{{ comment.name }}{% endif %}</b> said: 
          <br />
          {{ comment.html_body()|safe }}
        </small>

        {% if current_user.is_authenticated %}
          <a href="{{ url_for('admin.edit_comment', obj_id=comment.id) }}" class="float-right btn btn-primary btn-sm">
            <i class="fas fa-edit"></i>
            Edit
          </a>
        {% endif %}

      </div>
    </div>
  </div>
</div>
